@import "colors";

html,
body,
#app
{
  color: $grey_light;
  font-family: $font_base !important;
  font-weight: 400;
  overflow-x: hidden !important;
  overflow-y: auto !important;
  opacity: 1;
  min-height: 100%;
  height: 100%;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

nav {
  background-color: $grey_dark !important;
}

aside {
  background: $aside_color;
  transition: color, background-color 0.4s ease;
}

aside li.active,
aside li:hover
{
  background: $aside_current_color;
  transition: color, background-color 0.4s ease;
}

.table > tbody > tr > td {
  color: $grey_dark;
}

nav b.user,
nav span.icon.icon-user
{
  color: $grey_light
}

.icon.icon-loss {
  color: $blue !important;
}

.icon.icon-latency {
  color: $green !important;
}

.dark {
  color: $grey_dark;
}

.light {
  color: $grey_light;
}

.orange {
  color: $orange;
}

nav .filters {
  color: $grey_light;
}

.widget > .panel-heading > h4,
.widget > .panel-heading > h4 > a
{
  font-weight: 800;
  text-decoration: none;
  color: $grey_light;
  display: inline-block;
}

.widget {
  background: #f6f6f6;
  border-radius: 3px;
  padding: 5px;
  margin: 10px -10px;
  overflow: hidden;
  min-height: 478px;
}

div.widgets .icon-refresh:hover {
  color: #414141 !important;
  font-size: large;
  cursor: pointer;
}

div.widgets .panel {
  border: none !important;
  box-shadow: none !important;
  margin-bottom: 10px !important;
}
