$orange: #F6842A;
$grey_dark: #3C3C3C;
$grey_middle: #828282;
$title_color: #828282;
$grey_light: #939393;
$blue: #90A5D0;
$green: #66AE63;
$red: #EC644B;
$aside_color: #E1E1E1;
$aside_current_color: #CDCDCD;

$de_javu: 'Open Sans';
$tribuchet: "Trebuchet MS";
$tillium: 'Titillium Web';
$font_base: $de_javu, $tribuchet, $tillium, serif;

$top_bar_color: #393933;
$backgroundColor: #f9fafc;
$widget_color: #FFFFFF;
$widget_shadow_color: #000000;
$widget_shadow_opacity: 0.3;
$widget_title_color: #5a5a5a;
$widget_icon_color: #c9c9c9;
