@import "./colors.scss";
.bg-dark {
	background: $grey_dark;
}

h1 {
	font-size: 1.8em;
}

.layout {
	height: 100%;
	width: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-content: stretch;
}

.layout-left {
	order: 1;
	flex-grow: 1;
	background: url("../assets/welcome_bacgrkound.png") no-repeat repeat right;
}

.layout-right {
	order: 2;
	flex-grow: 2;
	max-width: 450px;
}

.layout-left,
.layout-right
{
	overflow: hidden;
	display: flex;
}

.parts {
	flex: 1;
	width: 100%;
	max-width: 100%;
}

.parts > {
	padding-left: 60px;
	overflow: hidden;

	.layout-header {
		height: 20%;
	}

	.layout-content {
		height: 60%;
	}

	.layout-footer {
		height: 20%;
	}
}

@media all and (max-width: 1159px) {
	.layout-right {
		flex-grow: 1;
	}

	.table-content {
		align-content: stretch;
		width: 100%;
		margin: 0;
	}
}

@media all and (max-width: 803px) {
	.layout-right {
		flex-grow: 1;
		max-width: 100% !important;
	}
}

@media all and (min-width: 923px) and (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {
	.layout-right {
		flex-grow: 4;
	}
}

@media all and (max-width: 1024px) and (max-height: 873px) and (-webkit-min-device-pixel-ratio: 1) {
	.layout-right {

		.layout-footer {
			height: 5px;
		}

		.layout-content {
			height: 95%;
		}
	}
}

@media all and (max-width: 800px) and (-webkit-min-device-pixel-ratio: 1) {
	.layout-left {
		background-image: none;
	}

	.debug .layout-right {
		border-left: none;
		border-top: 1px solid crimson;
	}

	.layout {
		flex-direction: column;
	}

	.parts {
		flex-direction: column;
	}

	.layout-header {
		height: 10%;
	}

	.layout-content {
		height: 90%;
	}

	.layout-footer {
		height: 0;
	}
}

@media only screen and (max-height: 500px) {
	.parts > {
		.layout-header {
			height: 40%;
		}

		.layout-content {
			height: 60%;
		}

		.layout-footer {
			height: 0%;
		}
	}
}

@media only screen and (max-height: 610px) {
	.layout-left .layout-content {
		height: 80%;
	}

	.layout-left .layout-footer {
		display: none;
		height: 0 !important;
		width: 0 !important;
		padding: 0 !important;
	}

	.parts > {
		.layout-header {
			height: 30%;
		}
	}
}

@media only screen and (max-height: 700px) {
	.parts > {
		.layout-footer {
			height: 0%;
			display: none;
		}
		.layout-content {
			height: 90%;
		}
	}
}


@media all and (max-width: 609px) and (-webkit-min-device-pixel-ratio: 1) {
	.layout-left {
		background-image: none;

		.layout-header {
			height: 10%;
		}

		.layout-content {
			height: 90%;
		}

		.layout-footer {
			height: 0;
		}
	}

	.layout {
		/* On small screens, we are no longer using row direction but column */
		flex-direction: column;
	}

	.parts > {
		padding-left: 7%;
		padding-right: 7%;
	}

	.layout-right {

		.layout-header {
			height: 0;
		}

		.layout-content {
			height: 90%;
		}

		.layout-footer {
			height: 10%;
		}
	}
}