@import "./colors";

h1 { margin-top: 0 !important; margin-bottom: 5px !important;}

.footer {
	list-style-type: none;
	display: inline-block;
	padding: 0 0 0 0 !important;
	margin-bottom: 10px;
}

.footer li:nth-child(2),
.footer li:nth-child(3)
{
	border-left: 1px solid white;
	padding-left: 15px;
	line-height: 15px;
	padding-top: 5px;
}

.footer li a {
	color: white !important;
}

.footer li {
	float: left;
	margin-right: 15px;
}

a,
a:visited,
a:hover,
a:focus {
	color: $grey_dark !important;
	text-decoration: none !important;
}

h1 {
	color: $grey_dark !important;
}

.login-block * {
	color: #ffffff !important;
}

.welcome-content {
	overflow: hidden;
	max-height: 100%;
	max-width: 100%;
	width: 100%;

h1, p.copyright {
	color: #3D3D3D;
}

p { color: #000000 };
}

.thumb {
	text-align: center;
	overflow: hidden;
}

ol {
	margin-left: -20px;
	max-width: 630px;
}

.thumb img {
	height: auto;
	max-width: 100% !important;
	display: inline-block;
}

.modal-container {
	max-width: 750px !important;
}

.header-link {
	display: inline-block;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.header-link img {
	height: auto;
	width: 370px;
	margin-top: 3%;
	display: block;
}

.welcome-content {
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
}

.table-content {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: stretch;
	width: auto;
	margin: 9% 0 30px 0;
}

.table-content .column {
	flex-grow: 1;
	display: flex;
}

.column {
	cursor: pointer;
}

.table-content .column .line {
	background: #939393;
	width: 1px;
	height: 88px;
	margin-top: 10px;
}

.column-text {
	margin-top: 25px;
	margin-bottom: 20px;
	margin-left: 10px;
	word-wrap: normal;
}

.column-text a {
	max-width: 110px;
	display: block;
}

.market-share {
	display: inline-block;
	margin-bottom: 20px;
	margin-top: 20px;
}

.title-holder {
	width: auto;
	display: inline-block;
	border-bottom: 2px solid $orange;

h1, span {
	float: left;
	margin-top: 6px;
}

span {
	margin-left: 10px;
}
}

.login-block {
.hint {
	float: left;
	display: block;
	width: 100%;
	margin: 10px 0 10px 0;
}

.control {
	float: left;
	display: block;
	margin: 10px 0 10px 0;
}

.controls {
	display: block;
	max-width: 80%;
	padding-top: 10px;

input, button {
	margin-bottom: 10px;
	display: block;
}
}
}

.layout-footer {
	position: relative;
	width: 90%;
	height: 100%;
	display: inline-block;
}

.bottom {
	position: absolute;
	bottom: 20px;
}

@media all and (min-width: 1400px) {
	.table-content {
		width: 800px;
	}
}

@media all and (min-width: 1440px) and (max-width: 2560px) {
	.title-holder {
		width: auto;
	}
}

@media all and (max-height: 500px) {
	.column-thumb {
		display: none;
	}

	.column-text {
		display: none;
	}

	.header-link img {
		height: 100%;
		width: auto;
		max-width: none;
	}
}

// height fixes
@media all and (max-height: 873px) {
	.table-content {
		margin: 0 0 10px 0;
	}
}

// IPad, tablets with retina
@media all and (max-width: 1024px) and (max-height: 873px) {
}

@media all and (max-width: 800px) {
	.header-link img {
		max-width: 40%;
		max-width: 210px;
	}

	.column-text {
		margin: 0;
		float: left;
	a {width: 100%; max-width: 100%;}
}

.parts {
.layout-content {
	margin: auto;
}
}

.login-block {
	margin-top: 20px;
}
}

@media all and (max-width: 500px) {
	h1 {
		font-size: 23px !important;
	}

	.table-content {
		margin: 20px 0;
		width: 100%;
		text-align: center;
	}

	.table-content .column {
		flex-direction: column;
		margin-bottom: 20px;
	}

	.column-text {
		margin: auto auto;
	}

	.login-block {
		text-align: center;
	}

	.table-content {
		flex-direction: row;
		margin: 30px 0 0px 0;
	}

	.market-share {
		width: 100%;
		text-align: center;
		margin-bottom: 0;
	}

	.column-text a {
		max-width: inherit;
	}

	.column-thumb {
		display: none;
	}
}