<template>
  <div :class="['noction-card',border ? 'with-border':'']" :style="{'min-height': minHeight}">
    <slot name="full-content">
      <div :class="{'noction-card-heading': true}" v-if="title.length">
        <slot name="header">
        <div :class="{'title': true, 'link': hasRoute}" v-if="title.length" @click="titleClicked">
            <span class="value" v-if="value" >{{value}}</span>
            {{title}}
        </div>
          <slot name="indicators"></slot>
        </slot>
      </div>
      <div class="noction-card-content">
        <slot name="content"></slot>
      </div>

      <div v-if="!hideControls" :class="['noction-card-controls', controlsAlign]" slot="controls">
        <slot name="controls"></slot>
      </div>
    </slot>
  </div>
</template>
<script>
  import _ from 'lodash'

  export default {
    name: 'NoctionCardView',
    props: {
      ready: {
        default: true,
        type: Boolean
      },
      title: {
        default: '',
        type: String
      },
      value: {
        default: 0,
        type: Number
      },
      expandUrl: {
        default: () => {},
        type: Object
      },
      minHeight: {
        type: String,
        default: 'auto'
      },
      controlsAlign: {
        type: String,
        default: 'right'
      },
      border: {
        type: Boolean,
        default: false
      },
      error: {
        type: Boolean,
        default: false
      },
      hideControls: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {}
    },
    methods: {
      refresh () {
        if (this.ready) {
          this.$emit('refresh', this)
        }
      },
      titleClicked () {
        if (this.hasRoute) {
          this.$router.push({name: this.expandUrl.route.name, params: this.expandUrl.route.params})
        }
      }
    },
    computed: {
      hasRoute: function () {
        return _.isObject(this.expandUrl) && !_.isEmpty(this.expandUrl)
      }
    }
  }
</script>
<style scoped lang="scss">
  @import "../../assets/common";

  $title_font_size: 1;

  .noction-card {
    background: $card_background;
    overflow: hidden;
    position: relative;

    .noction-card-controls {
      padding: 0.5em 0.8em;
      display: inline-block;
      width: 100%;
    }

    .noction-card-controls.left > * {
      float: left;
      margin-right: 1em;
    }

    .noction-card-controls.right > * {
      float: right;
      margin-left: 1em;
    }

    .noction-card-content {
      font-size: 1em;
      color: $card_text_color;
    }

    .noction-card-heading {
      text-transform: uppercase;
      color: $title_color;
      display: inline-flex;
      padding: 1.4em 1em 1em;
      align-items: stretch;
      width: 100%;
      overflow: hidden;
      max-height: 3em;

      .value {
        font-size: 22px;
        color: $grey_dark;
      }

      .title {
        flex-grow: 3;
        font-size: $title_font_size + em !important;
        line-height: $title_font_size + em !important;
        font-weight: bolder;
        text-align: center;
        display: block;
        height: $title_font_size + em !important;
      }

      .title.link {
        cursor: pointer;
      }

      i {
        color: $card_icon_color;
        font-size: ($title_font_size + 0.3) + em;
        line-height: ($title_font_size - 0.2) + em;
        cursor: pointer;
      }

      i.busy {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
      }
    }
  }

  .noction-card.with-border {
    border: 1px solid $lightGray;
  }

  i {
    margin-left: 0.8em;
    line-height: 1em;
    font-size: 1em;
  }
</style>
