<template>
  <div>

  </div>
</template>
<script>
  export default {
    name: 'NoctionChipsView',
    props: {
      text: {
        type: String,
        default: ''
      },
      removable: {
        type: String,
        default: true
      },
      background: {
        type: String,
        default: '#d0d0d0'
      },
      color: {
        type: String,
        default: '#454545'
      }
    },
    mounted () {
    },
    created () {
    }
  }
</script>
<style scoped>
</style>
