<template>
  <card class="noction-colors-layout">
    <div class="noction-color-box"
         slot="full-content"
         :style="{background: color}"
         v-for="color in colors"
         :key="color"
         @click="selected(color)"
    >
      <div class="selected" v-if="value === color"></div>
    </div>
  </card>
</template>
<script>
import _ from 'lodash'
import Card from './Card.vue'
import colors from './colors'

export default {
  name: 'ColorPickerView',
  props: {
    value: {
      type: String,
      default: ''
    },
    colors: {
      type: Array,
      default: () => colors
    },
    exclude: {
      type: Array,
      default: () => colors
    }
  },
  data () {
    return {
    }
  },
  created () {
    // > Remove already selected colors
    if (this.exclude.length) {
      this.colors = _.difference(this.colors, this.exclude)
    }

    if (_.isEmpty(this.value)) {
      this.$emit('input', _.head(this.colors))
    }
  },
  methods: {
    selected: function (color) {
      this.$emit('input', color)
    }
  },
  components: {
    Card
  }
}
</script>
<style scoped>
  .noction-colors-layout {
    display: inline-block;
    padding: 0.6em;
  }

  .noction-color-box {
    height: 1em;
    width: 1em;
    display: block;
    float: left;
    margin: 0.2em;
  }

  .selected {
    width: 40%;
    height: 40%;
    border-radius: 0.4rem;
    background: #ffffff;
    margin: 25% auto auto;
  }
</style>
