<template>
  <div class="pagination">
    <div class="left-side">
      <div>{{ startIndex }} - {{ startIndex + pageSize - 1 }} of {{ records }} results found</div>
      <div class="line"></div>
      <div>go to page</div>
      <input class="page-input" v-on:change="goTo"/>
    </div>
    <div class="right-side">
      <div class="rect left-arrow" @click="previous" v-show="previousVisible"><<</div>
      <div :class="{'rect': true, 'active': value === page}" v-for="(page, id) in items" v-bind:key="id" @click="$emit('input', Number(page))">
        {{page}}
      </div>
      <div class="rect right-arrow" @click="next" v-show="nextVisible">>></div>
    </div>
  </div>
</template>
<script>
import resize from 'vue-resize-directive'

export default {
  name: 'NoctionPaginatorView',
  props: {
    records: {
      type: Number,
      default: 0
    },
    value: {
      type: Number,
      default: 1
    },
    pageSize: {
      type: Number,
      default: 20
    },
    arrows: {
      type: Boolean,
      default: true
    },
    totalVisible: [Number, String]
  },
  data () {
    return {
      maxButtons: 0
    }
  },
  mounted () {
  },
  created () {
  },
  directives: {
    resize
  },
  computed: {
    startIndex: function () {
      return ((this.value * this.pageSize) - this.pageSize) || 1
    },
    items () {
      const maxLength = this.totalVisible || this.maxButtons
      if (this.length <= maxLength) {
        return this.range(1, this.records)
      }

      const even = maxLength % 2 === 0 ? 1 : 0
      const left = Math.floor(maxLength / 2)
      const right = this.records - left + 1 + even

      if (this.value >= left && this.value <= right) {
        const start = this.value - left + 2
        const end = this.value + left - 2 - even

        return [1, '...', ...this.range(start, end), '...', maxLength]
      } else {
        return [
          ...this.range(1, left),
          '...',
          ...this.range(this.records - left + 1 + even, maxLength)
        ]
      }
    },
    nextVisible: function () {
      return this.value < (this.totalVisible || this.maxButtons)
    },
    previousVisible: function () {
      return this.value > 1
    }
  },
  methods: {
    next (e) {
      e.preventDefault()
      if (this.value >= (this.totalVisible || this.maxButtons)) {
        return
      }
      this.$emit('input', this.value + 1)
      this.$emit('next')
    },
    previous (e) {
      e.preventDefault()
      if (this.value === 1) {
        return
      }
      this.$emit('input', this.value - 1)
      this.$emit('previous')
    },
    range (from, to) {
      const range = []

      from = from > 0 ? from : 1

      for (let i = from; i <= to; i++) {
        range.push(i)
      }

      return range
    },
    onResize () {
      const width = this.$el && this.$el.parentNode
        ? this.$el.parentNode.clientWidth
        : window.innerWidth

      this.maxButtons = Math.floor((width - 96) / 42)
    },
    goTo: function (e) {
      e.preventDefault()
      this.$emit('input', Number(e.currentTarget.value))
    }
  }
}
</script>
<style scoped lang="scss">
  @import "../../assets/common";

  .pagination {
    display: inline-block;
    overflow: hidden;
    width: 60%;

    .rect {
      width: auto;
      min-width: 2em;
      height: 2em;
      background-color: $lightGray;
      color: $lightGrayText;
      font-size: 1em;
      font-weight: bolder;
      line-height: 2em;
      vertical-align: middle;
      border-radius: 2px;
      float: left;
      padding-left: 0.4em;
      padding-right: 0.4em;
      margin-left: 0.4em;
      margin-right: 0.4em;
      cursor: pointer;
      text-align: center;
    }

    .rect.active {
      background-color: $aside_current_color;
    }

    .left-side {
      float: left;
      display: inline-block;
      margin-top: 0.4em;

      div {
        float: left;
        text-transform: uppercase;
        font-size: 0.9em;
        font-weight: bolder;
        color: $lightGrayText;
        line-height: 1.8em;
      }

      .line {
        border: 1px solid $lightGrayText;
        height: 1.6em;
        margin-left: 1em;
        margin-right: 1em;
      }
    }

    .right-side {
      float: right;
      display: inline-block;
    }
  }

  input, input:focus {
    width: 2.2em;
    height: 1.6em;
    border-radius: 2px;
    border: 1px solid $lightGray;
    margin-left: 1em;
    display: inline;
    text-align: center;
  }
</style>
