<template>
  <div ref="button" :class="['refresh-icon', color]" :style="{'width': size + 'px', 'height': size + 'px'}">
    <svg :viewBox="[0, 0, size, size].join(' ')">
      <path
        ref="circlePath"
        class="circle-path"
        :d="['M', size / 2, size / 2, 'm', '0', -30, 'a', 30, 30, 0, 1, 1, 0, 20, 'a', 30, 30, 0, 1, 1, 0, -20].join(' ')"
      ></path>
    </svg>
    <!--https://lmgonzalves.github.io/2016/02/02/animated-refresh-icon/-->
    <!--<svg ref="arrowSvg" class="arrow-svg" :viewBox="[0, 0, size, size].join(' ')">-->
      <!--<path ref="arrowPath" class="arrow-path" d="M 50 15 m -18 -18 l 18 18 l -18 18"></path>-->
    <!--</svg>-->
  </div>
</template>
<script>
export default {
  name: 'NoctionUiRefreshView',
  props: {
    size: {
      type: Number,
      default: 50
    },
    color: {
      type: String,
      default: 'lightGray'
    }
  },
  data () {
    return {
      state: 'ready'
    }
  },
  mounted () {
  },
  created () {
  }
}
</script>
<style scoped lang="scss">
  @import "../../assets/common";

  .refresh-icon {
    position: relative;
    top: 5px;
    left: 5px;
    border: none;
    outline: none;
    padding: 2px;
    border-radius: 5px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 0.2s background;
    transition: 0.2s background;

    svg path {
      stroke: #fff;
      stroke-width: 5px;
      stroke-linecap: round;
      fill: none;
    }

    svg.arrow-svg {
      position: absolute;
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      -webkit-transform: rotate(-40deg);
      transform: rotate(-40deg);
      -webkit-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
    }
  }

  .refresh-icon.gray {
    svg path {
      stroke: $grayColor;
    }
  }

  .refresh-icon.lightGray {
    svg path {
      stroke: $lightGrayText;
    }
  }

  .arrow-animation {
    -webkit-animation-name: rotation;
    animation-name: rotation;
    -webkit-animation-duration: 0.8s;
    animation-duration: 0.8s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @-webkit-keyframes rotation {
    from {
      -webkit-transform: rotate(-40deg);
      transform: rotate(-40deg);
    }
    80% {
      -webkit-transform: rotate(340deg);
      transform: rotate(340deg);
    }
    99.999% {
      -webkit-transform: rotate(460deg);
      transform: rotate(460deg);
    }
    to {
      -webkit-transform: rotate(-40deg);
      transform: rotate(-40deg);
    }
  }

  @keyframes rotation {
    from {
      -webkit-transform: rotate(-40deg);
      transform: rotate(-40deg);
    }
    80% {
      -webkit-transform: rotate(340deg);
      transform: rotate(340deg);
    }
    99.999% {
      -webkit-transform: rotate(460deg);
      transform: rotate(460deg);
    }
    to {
      -webkit-transform: rotate(-40deg);
      transform: rotate(-40deg);
    }
  }
</style>
