<template>
  <div class="instances-page">
    <h2>IRP Instances</h2>
    <!--<div class="buttons">
      <input v-model.trim="newInstanceTitle" @keyup.enter="addInstance" placeholder="Add a instance">
    </div>-->
    <div v-if="instances.length" class="instances">
      <ul>
        <instance-item
                v-for="(instance, index) in instances"
                :key="instance._id"
                :instance="instance"
        />
      </ul>
    </div>
    <div v-else class="progress">
      <progress v-if="instances"></progress>
      <p v-else>
        Nothing in the list. Add a new instance.
      </p>
    </div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import InstanceItem from './InstanceItem'

export default {
  name: 'Instances',
  components: {
    InstanceItem
  },
  computed: mapGetters({
    instances: 'allInstances'
  }),
  data () {
    return {
      newInstanceTitle: ''
    }
  },
  methods: {
    addInstance () {
      this.$store.dispatch('addInstance', this.newInstanceTitle)
      this.newInstanceTitle = ''
    }
  },
  created () {
    this.$store.dispatch('getAllInstances')
  }
}
</script>

<style lang="scss" scoped>
  .instances-page {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    h2 {
      margin: 12px auto;
    }
    .instances {
      flex-grow: 1;
      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
      }
    }
    .progress {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
</style>
