<template>
  <div>
    <div v-if="instance">
      <header>Add IRP instance</header>
      <form>
        {{ instance.host }}
        <button @click="save">Add</button>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: 'instanceForm',
  computed: {
    instance () {
      const instanceId = parseInt(this.$route.params.instanceId)
      return this.$store.getters.getInstanceById(instanceId)
    }
  },
  methods: {
    close () {
      console.log('close')
    },
    save () {
      console.log('save')
    }
  },
  created () {
    this.$store.dispatch('getAllInstances')
  }
}
</script>

<style scoped>
</style>
