<template>
  <li :class="{ error: instance.error, unauthorized: !instance.token }">
    <router-link :to="{ name: 'InstanceForm', params: { instanceId: instance._id }}">{{ instance.host }}</router-link>
    <span v-if="instance.version">Version {{ instance.version }}</span>
    <!--<button @click="removeInstance(instance.id)">X</button>-->
    <div>
      <span v-if="instance.byProxy">By proxy</span>
      <span v-if="instance.error">Error</span>
      <span v-if="instance.status">Core {{ instance.status.components.Core.state }}</span>
    </div>

    <div>
      <span v-if="!instance.token">Unauthorized</span>
    </div>
  </li>
</template>

<script>
import { mapActions } from 'vuex'

export default {
  name: 'instance',
  props: {
    instance: {
      type: Object,
      required: true
    }
  },
  methods: {
    ...mapActions([
      'removeInstance'
    ])
  },
  created () {
    this.$store.dispatch('getStatus', { instance: this.instance })
    this.$store.dispatch('getVersion', { instance: this.instance })
  }
}
</script>

<style scoped lang="scss">
  li {
    height: 40px;
    border: 1px solid #7f7f7f;
    margin: 10px;
    border-radius: 20px/10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    &.error {
      border: 1px solid #C21F39;
      background-color: darksalmon;
    }
    &.unauthorized {
      border: 1px solid #eeeeee;
      background-color: #cccccc;
    }
    > * {
      flex: 0 1 30%;
    }
  }
</style>
