<template>
  <div id="over">
    <ui-progress-linear color="orange"></ui-progress-linear>
    <span class="Centerer"></span>
    <img class="Centered loader spin" src="../assets/loader.svg" />
  </div>
</template>
<script>
  import {UiProgressLinear} from 'keen-ui'

  export default {
    name: 'LoadingView',
    data () {
      return {}
    },
    mounted () {
      this.$store.dispatch('user')
        .then(this.handleResponse)
        .catch(this.handleError)
    },
    methods: {
      handleError (error) {
        console.log(error)
        window.location.href = '/login'
      },
      handleResponse: function (response) {
        let data = response.data || {}
        this.$store.commit('RECEIVE_INSTANCES', data.instances)
        this.$store.commit('DASHBOARD_INIT', data.dashboard)

        if (!this.$store.getters.allInstances.length) {
          this.$router.replace({name: 'Welcome'})
        } else {
          this.$router.replace({name: 'Dashboard'})
        }
      }
    },
    components: {
      UiProgressLinear
    }
  }
</script>
<style scoped>
  *
  {
    padding: 0;
    margin: 0;
  }
  #over
  {
    position:absolute;
    width:100%;
    height:100%;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    background: white;
  }
  .Centerer
  {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
  .Centered
  {
    display: inline-block;
    vertical-align: middle;
    height: 10em;
    width: 10em;
  }
</style>
