<template>
    <div class="not-found">
        <h1>Not Found</h1>
      <router-link :to="{name: 'Dashboard'}">Go to dashboard</router-link>
    </div>
</template>

<script>
  export default {
    name: 'NotFound'
  }
</script>

<style scoped>
    h1 {
        font-weight: normal;
    }
</style>
