<template>
  <component :is="view" :filters="filters"></component>
</template>

<script>
import TableReport from './reports/TableReport.vue'

export default {
  name: 'ReportView',
  computed: {
    view: function () {
      return this.$route.params.view
    },
    filters: function () {
      return this.$route.params.filters
    }
  },
  components: {
    TableReport
  }
}
</script>
