<template>
    <ui-modal ref="dialog" remove-close-button size="large" title="Edit dashboard settings" @close="onClosed">
      <ui-radio-group
        name="group1"
        :options="options"
        v-model="columns"
      >Dashboard layout</ui-radio-group>
      <br>
      <div style="float: right">
        <ui-button color="gray" flat @click.native="closeModal">Close</ui-button>
        <ui-button color="gray" flat @click.native="onSave">Save</ui-button>
      </div>
    </ui-modal>
</template>
<script>
import UiModal from 'keen-ui/src/UiModal.vue'
import UiRadioGroup from 'keen-ui/src/UiRadioGroup.vue'
import UiButton from 'keen-ui/src/UiButton.vue'

export default {
  name: 'DashboardSettings',
  data: function () {
    return {
      options: ['1 column', '2 column'],
      columns: '{0} column'.format(this.$store.getters.dashboardColumns)
    }
  },
  mounted () {
    this.openModal()
  },
  methods: {
    openModal: function () {
      this.$refs.dialog.open()
    },
    closeModal: function () {
      this.$refs.dialog.close()
    },
    onSave: function () {
      let current = this.$store.getters.dashboardColumns
      let changed = this.options.indexOf(this.columns) + 1

      if (current !== changed) {
        this.$store.commit('DASHBOARD_CHANGE_COLUMNS', changed)
      }

      this.closeModal()
    },
    onClosed: function () {
      this.$emit('closed')
    }
  },
  components: {
    UiButton,
    UiModal,
    UiRadioGroup
  }
}
</script>
<style scoped>
</style>
