<template>
    <div ref="dashboard" class="dashboard" v-resize.throttle="onResize">
      <widget-wizard ref="wizard" v-if="wizard" :dashboard="dashboard" @closed="wizard = false"></widget-wizard>

      <dashboard-settings
        v-if="settings"
        :columns="Number(dashboard.columns)"
        @columns="onColumnChanged"
        @closed="settings = false"
      ></dashboard-settings>

      <edit-widget :widget="widget" v-if="widget" @closed="editWidgetFinished"></edit-widget>

      <div class="dashboard-header">
        <h3>Dashboard</h3>

        <i :class="{'icon-lockdash': locked, 'icon-unlockdash': !locked}" v-on:click="locked = !locked"></i>
        <i class="icon-cfg" v-on:click="settings = true"></i>
        <i class="icon-addwidget" v-on:click="wizard = true"></i>
      </div>

      <masonry
        :cols="layout"
        :gutter="{default: '15px', 700: '15px'}"
      >
        <component
                v-for="widget in widgets"
                :is="widget.viewName"
                :dashboard="dashboard"
                :widget="widget"
                :locked="locked"
                @refresh="refreshWidget(widget)"
                v-bind:key="widget._id"
                v-on:edit="editWidget"
                v-on:remove="removeWidget"
        />
      </masonry>
    </div>
</template>

<script>
import AsPatternProblems from './widgets/AsPatternProblems.vue'
import CurrentImprovements from './widgets/CurrentImprovements.vue'
import DashboardSettings from './DashboardSettings.vue'
import InstancesStatus from './widgets/InstancesStatus.vue'
import InstancePartsStatus from './widgets/InstanceComponentStatus.vue'
import PlatformPerformance from './widgets/PlatformPerformance.vue'
import ProbePerProvider from './widgets/ProbePerProvider.vue'
import ProvidersPerformance from './widgets/ProvidersPerformance.vue'
import ProbedPrefixesImprovments from './widgets/ProbedPrefixesImprovments.vue'
import LatencyImprovements from './widgets/LatencyImprovements.vue'
import LatencyDestinations from './widgets/LatencyDestinations.vue'
import WidgetWizard from './WidgetWizard.vue'
import resize from 'vue-resize-directive'
import EditWidget from './EditWidget.vue'

export default {
  name: 'Dashboard',
  data: function () {
    return {
      locked: true,
      dashboard: {},
      wizard: false,
      settings: false,
      layout: {},
      widget: false,
      layouts: [
        {default: 2, 1000: 2, 700: 1, 400: 1},
        {default: 1, 1000: 1, 700: 1, 400: 1}
      ]
    }
  },
  computed: {
    widgets: function () {
      return this.$store.getters.dashboardWidgets
    }
  },
  created: function () {
    this.dashboard = this.$store.getters.defaultDashboard
    this.layout = this.layouts[0]
  },
  methods: {
    refreshWidget: function (widget) {
    },
    onResize: function () {
//      this.layut = this.$refs.dashboard.offsetWidth < this.min ? 1 : this.columns
    },
    onColumnChanged: function (changed) {
      this.layout = this.layouts[changed - 1]
      this.$store.commit('DASHBOARD_CHANGE_COLUMNS', changed)
      this.$forceUpdate()
    },
    editWidget (widget) {
      console.log('Edit widget ', widget)
      this.widget = widget
    },
    removeWidget (widget) {
      this.$store.dispatch('deleteWidget', {dashboard: this.dashboard, widget})
    },
    editWidgetFinished () {
      this.widget = false
    }
  },
  components: {
    AsPatternProblems,
    InstancePartsStatus,
    DashboardSettings,
    WidgetWizard,
    CurrentImprovements,
    InstancesStatus,
    EditWidget,
    PlatformPerformance,
    ProbedPrefixesImprovments,
    ProvidersPerformance,
    ProbePerProvider,
    LatencyImprovements,
    LatencyDestinations
  },
  directives: {
    resize
  }
}
</script>

<style lang="scss" scoped>
  @import "../../assets/common";

  h3 {
    color: $grayColor;
    margin: 0;
  }

  .dashboard {
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: inline-block;

    .noction-card {
      margin-bottom: 20px;

      .noction-card-content .vue-content-placeholders {
        padding: 20px !important;
      }
    }
  }

  .dashboard-header {
    display: flex;

    align-content: space-around;
    align-items: stretch;
    margin-bottom: 20px;

    h3 {
      flex-grow: 1;
      margin-right: 3vw;
    }

    i {
      font-size: 1.2em;
      padding-left: 0.3em;
      color: $lightGrayText;
      cursor: pointer;
    }
  }
</style>
