<template>
  <ui-modal
    ref="dialog"
    title="Edit widget"
    remove-close-button
    @close="closed"
  >
    <widget-settings ref="form" :widget="widget" v-if="form" @ready="onReadyChanged"></widget-settings>

    <div slot="footer">
      <ui-button :raised="false" size="small" @click="close">Close</ui-button>
      <ui-button :raised="false" :loading="loading" :enabled="!loading && ready" size="small" @click="save()">Save</ui-button>
    </div>
  </ui-modal>
</template>
<script>
import _ from 'lodash'
import UiModal from 'keen-ui/src/UiModal.vue'
import UiButton from 'keen-ui/src/UiButton.vue'
import WidgetSettings from './WidgetSettings.vue'

export default {
  name: 'EditWidgetView',
  props: {
    widget: {
      type: Object,
      default: () => {}
    }
  },
  data () {
    return {
      form: false,
      loading: false,
      ready: true
    }
  },
  mounted () {
    this.$refs.dialog.open()
    this.form = true
  },
  methods: {
    close () {
      this.$refs.dialog.close()
    },
    closed () {
      this.form = false
      this.$emit('closed')
    },
    onReadyChanged (state) {
      this.ready = state
    },
    save () {
      this.loading = true
      let widget = _.cloneDeep(this.widget)
      let dashboard = this.$store.getters.defaultDashboard
      widget.settings = this.$refs.form.generatedSettings()
      this.$store.dispatch('updateWidget', {dashboard, widget}).then(({widget}) => {
        this.close()
      }).catch(err => {
        console.error(err)
      })
    }
  },
  components: {
    UiModal,
    WidgetSettings,
    UiButton
  }
}
</script>
<style scoped>
</style>
