<template>
  <div class="form">
    <ui-select
      :options="RefreshOptions"
      v-model="settings.RefreshOptions"
      label="Refresh interval"
      v-if="settings.RefreshOptions"
    />
    <ui-select
      :label="'Select instances'"
      :options="Instances"
      v-model="settings.Instances"
      :multiple="true"
      v-if="settings.Instances"
    />
    <ui-select
      :label="'Select instance'"
      :options="Instance"
      v-model="settings.Instance"
      v-if="settings.Instance"
    />
    <ui-select
      label="Select components"
      :options="ComponentsOptions"
      v-model="settings.ComponentsOptions"
      multiple
      v-if="settings.ComponentsOptions"
    />
    <ui-select
      label="Results per instance"
      :options="PerInstanceOptions"
      v-model="settings.PerInstanceOptions"
      v-if="settings.PerInstanceOptions"
    />
    <ui-select
      label="IP version"
      :options="IpOptions"
      v-model="settings.IpOptions"
      v-if="settings.IpOptions"
    />
    <ui-select
      label="IP version"
      :options="IpAllOptions"
      v-model="settings.IpAllOptions"
      v-if="settings.IpAllOptions"
    />
      <ui-select
              label="Region"
              :options="Region"
              v-model="settings.Region"
              v-if="settings.Region"
      />
      <ui-select
              label="ProblemType"
              :options="ProblemType"
              v-model="settings.ProblemType"
              v-if="settings.ProblemType"
      />
    <ui-select
    :label="'Timestamp interval'"
    :options="TimestampInterval"
    v-model="settings.TimestampInterval"
    v-if="settings.TimestampInterval"
    />
    <br>
    <ui-alert class="bottom" type="warning" v-show="notice" :dismissible="false">
      {{notice}}
    </ui-alert>
  </div>
</template>
<script>
import _ from 'lodash'
import UiSelect from 'keen-ui/src/UiSelect.vue'
import UiAlert from 'keen-ui/src/UiAlert.vue'
import InstanceSelect from '../forms/InstanceSelect.vue'
import InitializeFormFields from '../../lib/form/initialize_form_fields'

export default {
  name: 'EditWidgetSettings',
  props: {
    widget: {
      type: Object,
      required: true
    }
  },
  data () {
    // > Some modification for UI Select
    let settings = _.cloneDeep(this.widget.settings)
    let instances = this.$store.getters.allInstances
    let collectionsSettings = {
      Instance: {collection: instances, label: 'host', value: '_id'},
      Instances: {collection: instances, label: 'host', value: '_id'}
    }
    let InitializedSettings = new InitializeFormFields(settings, collectionsSettings)
    settings = InitializedSettings.getFieldsWithOptions()
    return {
      ...settings,
      InitializedSettings: InitializedSettings,
      settings: settings,
      notice: false
    }
  },
  created () {
    this.$emit('ready', false)
    this.settings = this.InitializedSettings.getSelectedOptions()
    this.notify()
  },
  methods: {
    notify () {
      if (!_.isEmpty(this.settings.Instance) && !_.isEmpty(this.settings.Instances)) {
        this.notice = 'Widget settings is invalid, selected instance configuration was not found.'
      }
    },
    generatedSettings () {
      return this.InitializedSettings.extractFieldValues(this.settings)
    }
  },
  watch: {
    settings: function (value) {
      console.log('Settings changed ', value)
    }
  },
  components: {
    UiSelect,
    UiAlert,
    InstanceSelect
  }
}
</script>
<style scoped>
  .form {
    min-height: 30em;
    padding: 1em;
    position: relative;
  }

  .bottom {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    margin-bottom: 0;
  }
</style>
