<template>
  <masonry
    :cols="{default: 2, 1000: 2, 700: 1, 400: 1}"
    :gutter="{default: '30px', 700: '15px'}"
    class="widget-list"
  >
    <card :hasRefresh="false" v-for="widget in widgets" :key="widget.id" :border="true">
      <div slot="full-content">
        <img :src="'/static/widgets/'+widget.slug+'.png'" height="200px">
        <div class="widget-info">
          <h3>{{widget.title}}</h3>
          <p>{{widget.description}}</p>
          <ui-button @click.native="selected(widget.slug)" :raised="false">ADD WIDGET</ui-button>
        </div>
      </div>
    </card>
  </masonry>
</template>
<script>
  import WidgetCollection from './widget_collection'
  import Card from '../noction-ui/Card.vue'
  import UiButton from 'keen-ui/src/UiButton.vue'
  import _ from 'lodash'

  export default {
    name: 'WidgetSelectList',
    data () {
      return {size: 'xl'}
    },
    computed: {
      widgets: function () {
        return WidgetCollection.WidgetsCollection
      }
    },
    methods: {
      selected: function (slug) {
        console.log('selected ', slug)
        let selected = _.find(this.widgets, {slug: slug})
        if (!selected) {
          return
        }
        console.log('selected ', selected)
        this.$emit('selected', _.clone(selected))
      }
    },
    components: {
      Card,
      UiButton
    }
  }
</script>
<style scoped lang="scss">
  @import "../../assets/common";

  .widget-list {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
    grid-auto-rows: 1fr;
    max-height: 74vh;

    .noction-card {
      margin: 1em;
    }
  }

  img {
    background-position: center;
    background-size: cover;
    margin-top: -16px;
    height: 136px;
    width: 100%;
  }

  .widget-info {
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.5em;

  }
</style>
