<template>
  <ui-modal ref="dialog" remove-close-button size="large" :title="title" @close="onClosed">

    <widget-select-list v-on:selected="onSelectedWidget" v-if="step === 0"></widget-select-list>
    <widget-settings v-if="step === 1" :widget="selected" @ready="onReadyChanged" ref="settingsView"></widget-settings>

    <div slot="footer">
      <ui-button :raised="false" size="small" @click="goBack()" v-if="step === 1">Back</ui-button>
      <ui-button :raised="false" size="small" @click="closeModal()">Close</ui-button>
      <ui-button :raised="false" :loading="loading" :enabled="saveEnabled" size="small" @click="onAdd()" v-if="step === 1">Save</ui-button>
    </div>
  </ui-modal>
</template>
<script>
import WidgetSelectList from './WidgetSelectList.vue'
import WidgetSettings from './WidgetSettings.vue'
import UiModal from 'keen-ui/src/UiModal.vue'
import UiButton from 'keen-ui/src/UiButton.vue'
import _ from 'lodash'

export default {
  name: 'WidgetWizard',
  props: {
    dashboard: {
      type: Object,
      default: {}
    }
  },
  data () {
    return {
      step: 0,
      selected: {},
      saveEnabled: true,
      loading: false,
      stepTitles: [
        'Add widget to dashboard',
        'Edit widget settings'
      ]
    }
  },
  mounted () {
    this.openModal()
  },
  created () {
  },
  methods: {
    openModal: function () {
      this.$refs.dialog.open()
    },
    closeModal: function () {
      this.$refs.dialog.close()
    },
    onClosed: function () {
      this.$emit('closed')
    },
    onAdd: function () {
      this.loading = true
      let dashboard = this.dashboard
      let widget = _.clone(this.selected)

      widget.settings = this.$refs.settingsView.generatedSettings()

      this.loading = true
      this.$store.dispatch('createWidget', {dashboard, widget})
        .then(this.onSuccessAdd)
        .catch(this.onFailAdd)
    },
    onSuccessAdd: function () {
      this.step = 0
      this.loading = false
      this.$refs.dialog.close()
    },
    onFailAdd: function (error) {
      console.log(error)
      this.loading = false
    },
    onSelectedWidget: function (widget) {
      this.selected = _.cloneDeep(widget)
      if (_.isEmpty(widget.settings)) {
        return this.onAdd()
      }
      this.step = 1
    },
    goBack: function () {
      this.selected = {}
      this.step = 0
    },
    onReadyChanged: function (state) {
      this.saveEnabled = state
    }
  },
  computed: {
    title: function () {
      return this.stepTitles[this.step]
    }
  },
  components: {
    UiModal,
    UiButton,
    WidgetSelectList,
    WidgetSettings
  }
}
</script>
<style scoped lang="scss">
</style>
