<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}
			Global Manager Interface for IRP
		{% endblock %}
	</title>
	{% block styles %}
		<link rel="stylesheet" type="text/css" href="/backend/css/main.css">
		<link rel="stylesheet" type="text/css" href="/backend/css/icons.css">
	{% endblock %}
</head>
<body>
{% block layout %}{% endblock %}
</body>
</html>