{% extends "./base.twig" %}
{% block styles %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="/backend/scss/layout.scss" />
{% endblock %}
{% block layout %}
<div class="layout">
	<div class="layout-left">
		<div class="parts">
			<div class="layout-header">
				{% block leftHeader %}{% endblock %}
			</div>
			<div class="layout-content">
				{% block leftContent %}{% endblock %}
			</div>
			<div class="layout-footer">
				{% block leftFooter %}{% endblock %}
			</div>
		</div>
	</div>
	<div class="layout-right bg-dark">
		<div class="parts">
			<div class="layout-header">
				{% block rightHeader %}{% endblock %}
			</div>
			<div class="layout-content">
				{% block rightContent %}{% endblock %}
			</div>
			<div class="layout-footer">
				{% block rightFooter %}{% endblock %}
			</div>
		</div>
	</div>
</div>
{% endblock %}