{% extends "../layout.twig" %}
{% block styles %}
	{{ parent() }}
	<link rel="stylesheet" type="text/css" href="/backend/scss/login.scss" />
{% endblock %}

{% block leftHeader %}
	<a href="#" target="_blank" class="header-link">
		<img src="/backend/assets/logo.svg" height="20px">
	</a>
{% endblock %}

{% block leftContent %}
	<div class="welcome-content">
		<h1>New to the service?</h1>
		<p>Interconnect your Infrastructure with IRP for Cloud.</p>
		<p>
			To start using the service, you need to run a designated IRP for Cloud VM<br>
			that can be found on the marketplace.
		</p>
		<p>
			Service is currently available for AWS public cloud users in us-east-1,<br>
			the US East (N. Virgina) region.
		</p>

		<a href="#" target="_blank" class="market-share">
			<img src="/backend/assets/AWS_market.png"/>
		</a>

		<div class="table-content">
			<div class="column">
				<a class="column-thumb" href="#" target="_blank">
					<img src="/backend/assets/vid1.png"/>
				</a>
				<div class="column-text">
					<a href="https://www.noction.com/irp-for-cloud" target="_blank">
						Learn more about the IRP for Cloud
					</a>
				</div>
			</div>
			<div class="column">
				<div class="line"></div>
			</div>
			<div class="column">
				<a class="column-thumb" href="#" target="_blank">
					<img src="/backend/assets/vid2.png"/>
				</a>
				<div class="column-text">
					<a href="https://www.noction.com/irp-for-cloud/setup" target="_blank">
						Step-by-Step IRP for Cloud Setup Guide
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block leftFooter %}
	<div class="bottom">
		<p class="copyright">2017 &copy; Noction</p>
		<p id="sub-line">
			Amazon web services, the "AWS Marketplace" logo, and AWS are trademarks of
			<a href="https://www.amazon.com" target="_blank">Amazon.com</a> Inc.<br/>
			or its affiliates in the United States and/or other countries
		</p>
	</div>
{% endblock %}
{% block rightContent %}
	<form method="post" action="/login">
		<input name="username" type="text" />
		<input name="password" type="password" />
		<input name="remember" type="checkbox">
		<button type="submit">login</button>
	</form>
{% endblock %}
{% block rightFooter %}
	<div class="bottom">
		<p></p>
		<ul class="footer">
			<li><a href="https://www.noction.com/support" target="_blank">Support</a></li>
			<li><a href="https://www.noction.com/irp-for-cloud/eula" target="_blank">Terms of service</a></li>
		</ul>
	</div>
{% endblock %}