<template>
  <ui-select
    name="instance-select"
    :options="options"
    :multiple="multiple"
    :loading="loading"
    :label="labelText"
    v-model="selected"
  ></ui-select>
</template>
<script>
import _ from 'lodash'
import UiSelect from 'keen-ui/src/UiSelect.vue'

export default {
  name: 'InstanceSelectView',
  props: {
    value: {
      type: [String, Object, Array],
      default: ''
    },
    multiple: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return {
      loading: true,
      selected: {}
    }
  },
  mounted () {
  },
  created () {
    if (_.isArray(this.value) && !_.isEmpty(this.value)) {
      this.selected = []

      let parse = _.bind(function (id) {
        let options = this.options
        let instance = _.find(options, {'value': id})
        if (instance) {
          this.selected.push(instance)
        } else {
          console.log('not found')
        }
      }, this)
      _.each(this.value, parse)
    } else if (_.isArray(this.value) && _.isEmpty(this.value)) {
      this.selected = [_.head(this.options)]
    } else if (_.isString(this.value) && !_.isEmpty(this.value)) {
      this.selected = _.find(this.options, (option) => option._id === this.value)
    } else if (_.isString(this.value) && _.isEmpty(this.value)) {
      this.selected = _.head(this.options)
    }
  },
  methods: {
  },
  computed: {
    labelText: function () {
      return 'Select instance{0}'.format(this.multiple ? 's' : '')
    },
    options: function () {
      this.loading = true
      let extract = function (i) {
        return {value: i._id, label: i.host}
      }

      let options = _.map(this.$store.getters.allInstances, extract)
      this.loading = false
      return options
    }
  },
  watch: {
    selected: function () {
      let data
      if (_.isArray(this.selected)) {
        data = _.map(this.selected, (option) => option.value)
      } else {
        data = this.selected.value
      }

      this.$emit('input', data)
    }
  },
  components: {
    UiSelect
  }
}
</script>
<style lang="scss">
  @import "../../assets/common";

  .ui-select.is-active:not(.is-disabled) .ui-select__display {
    border-bottom: 2px $orange;
  }

  .ui-select.is-active:not(.is-disabled) .ui-select__label-text,
  .ui-select.is-active:not(.is-disabled) .ui-select__icon-wrapper .ui-icon
  {
    color: $orange;
  }

  .ui-select-option.is-selected {
    color: $orange;
  }

  .ui-select-option.is-selected .ui-select-option__checkbox {
    color: $orange;
  }
</style>
