<template>
  <div class="form">

    <ui-textbox
      v-model="host"
      floating-label
      label="Instance host"
      placeholder="my-instance.com"
      help="Host or ip address"
      :invalid="validation.hasError('host')"
      :error="validation.firstError('host')"
      :readonly="hostReadonly"
    ></ui-textbox>

    <ui-textbox
      v-model="username"
      floating-label
      label="Username"
      :invalid="validation.hasError('username')"
      :error="validation.firstError('username')"
      help="Username used to obtain token from this IRP instance"
    ></ui-textbox>

    <ui-textbox
      floating-label
      label="Password"
      type="password"
      :invalid="validation.hasError('password')"
      :error="validation.firstError('password')"
      v-model="password"
    ></ui-textbox>

    <ui-checkbox label="Shared instances" :value="shared" v-if="showShareOption"></ui-checkbox>

    <div class="color-box">
      <span class="ui-textbox__label-text">Instance color in reports</span>
      <color-picker v-model="color" :exclude="excludedColors"></color-picker>
    </div>
  </div>
</template>
<script>
import _ from 'lodash'
import UiTextbox from 'keen-ui/src/UiTextbox.vue'
import UiCheckbox from 'keen-ui/src/UiCheckbox.vue'
import ColorPicker from '../noction-ui/ColorPicker.vue'
import Instance from '../models/instance'
import Check from 'simple-vue-validator'

const Validator = Check.Validator

export default {
  name: 'InstanceEditForm',
  props: {
    value: {},
    hostReadonly: {
      type: Boolean,
      default: false
    },
    excludedColors: {
      type: Array,
      default: () => []
    },
    showShareOption: {
      type: Boolean,
      default: true
    }
  },
  data () {
    return _.extend(Instance.properties(), this.value)
  },
  mounted () {
  },
  created () {
    // this.excludedColors = _.map(this.$store.getters.allInstances, _.property('color'), [])
  },
  computed: {
    instance: function () {
      let props = Instance.properties()
      return _.pick(this.$data, _.keys(props))
    }
  },
  methods: {
    changed: function () {
      let instance = this.instance
      this.$emit('input', instance)
    },
    // > Manual call validate
    validate: function () {
      return this.$validate()
    }
  },
  watch: {
    host: function () { this.changed() },
    username: function () { this.changed() },
    password: function () { this.changed() },
    shared: function () { this.changed() },
    color: function () { this.changed() }
  },
  validators: {
    host: function (value) {
      return Validator.value(value).required()
    },
    username: function (value) {
      return Validator.value(value).required().minLength(3)
    },
    password: function (value) {
      if (this._id && this._id.length) {
        return true
      }

      return Validator.value(value).required()
    }
  },
  components: {
    UiTextbox,
    ColorPicker,
    UiCheckbox
  }
}
</script>
<style scoped>
  .color-box {
    margin-top: 1em;
    display: inline-block;
    width: 100%;
  }

  .color-box span {
    float: left;
    margin: 15px 0 0;
    width: 45%;
  }

  .color-box div {
    float: left;
    width: 52%;
    margin-left: 10px;
  }
</style>
