<template>
  <div class="form">

    <ui-textbox
      v-model="first_name"
      floating-label
      label="First name"
      :invalid="validation.hasError('first_name')"
      :error="validation.firstError('first_name')"
    ></ui-textbox>

    <ui-textbox
      v-model="username"
      floating-label
      label="Useraname"
      :invalid="validation.hasError('username')"
      :error="validation.firstError('username')"
      help="Username use to obtain token from this IRP instance"
    ></ui-textbox>

    <ui-textbox
      floating-label
      label="Password"
      type="password"
      :invalid="validation.hasError('password')"
      :error="validation.firstError('password')"
      v-model="password"
    ></ui-textbox>
  </div>
</template>
<script>
import _ from 'lodash'
import UiTextbox from 'keen-ui/src/UiTextbox.vue'
import Check from 'simple-vue-validator'

const Validator = Check.Validator

export default {
  name: 'UserForm',
  props: ['value'],

  data () {
    return _.extend(_.clone(Instance), this.value)
  },
  mounted () {
  },
  created () {
    this.colors = _.map(this.$store.getters.allInstances, _.property('color'))
  },
  computed: {
    instance: function () {
      let props = Instance.properties()
      return _.pick(this, _.keys(props))
    }
  },
  methods: {
    changed: function () {
      let instance = this.instance
      this.$emit('input', instance)
    },
    // > Manual call validate
    validate: function () {
      return this.$validate()
    }
  },
  watch: {
    first_name: function () { this.changed() },
    last_name: function () { this.changed() },
    password: function () { this.changed() },
    shared: function () { this.changed() },
    color: function () { this.changed() }
  },
  validators: {
    host: function (value) {
      return Validator.value(value).required()
    },
    username: function (value) {
      return Validator.value(value).required().minLength(3)
    },
    password: function (value) {
      if (this._id && this._id.length) {
        return true
      }

      return Validator.value(value).required()
    }
  },
  components: {
    UiTextbox,
    ColorPicker,
    UiCheckbox
  }
}
</script>
<style scoped>
  .color-box {
    margin-top: 1em;
    display: inline-block;
    width: 100%;
  }

  .color-box span {
    float: left;
    margin: 15px 0 0;
    width: 45%;
  }

  .color-box div {
    float: left;
    width: 52%;
    margin-left: 10px;
  }
</style>
