$primaryColor: #FF8322;
$grayColor: #3c3c3c !important;
$grayColorText: #ffff;
$lightGray: #e1e1e1;
$lightGrayText: #8d8d8d;
$widgetBackground: #F6F6F6;
$orange: #F6842A;
$grey_dark: $grayColor;
$grey_middle: #828282;
$title_color: #585858;
$grey_light: #939393;
$blue: #90A5D0;
$green: #66AE63;
$red: #EC644B;
$aside_color: #E1E1E1;
$aside_icon_color: $grayColor;
$aside_current_color: #CDCDCD;
$background_color: #ffffff;

$de_javu: 'Open Sans';
$tribuchet: "Trebuchet MS";
$tillium: 'Titillium Web';
$font_base: $de_javu, $tribuchet, $tillium, serif;

$top_bar_color: #393933;
$backgroundColor: #f9fafc;

$card_background: rgb(246, 246, 246);
$card_color: #FFFFFF;
$card_shadow_color: #000000;
$card_shadow_opacity: 0.3;
$card_title_color: #7e7e7e;
$card_icon_color: #c3c3c3;
$card_text_color: #4e4e4e;

$button_color: $aside_color;
$button_color_hover: #C2C2C2;
