@import "common";

body, html {
  font-family: $font_base !important;
  font-size: 14px;
  overflow: hidden;
  height:100%;
  margin:0;
  padding:0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

.vue-content-placeholders-text {
  margin: 1em;
}
