@import "common";

.ui-progress-linear--color-orange {
  background-color: rgba(255, 131, 34, 0.4);
}

.ui-progress-linear--color-orange .ui-progress-linear__progress-bar {
  background-color: #FF8322;
}

.ui-button--type-primary.ui-button--color-default {
  background-color: $button_color !important;
}

.ui-button--type-primary.ui-button--color-default:hover:not(.is-disabled), .ui-button--type-primary.ui-button--color-default.has-dropdown-open, .ui-button--type-primary.ui-button--color-default.has-focus-ring:focus, body[modality="keyboard"] .ui-button--type-primary.ui-button--color-default:focus {
  background-color: $button_color_hover !important;
}

.ui-modal, .ui-textbox, .ui-alert {
  font-family: $font_base !important;
}

/** KEEN UI REWRITE **/
$font-stack:            $font_base;
$brand-primary-color:   $primaryColor !default;
$brand-accent-color:    $grayColor !default;
