<template>
  <card :title="'Create IRP instance configuration'" :hasRefresh="false">
    <div slot="content">
      <p>
        To start using <b>Global Management Interface</b>, you need to have at least one instance
        configured. Fill all required fields, in form under.
      </p>
      <instance-form ref="form" v-model="instance" :showShareOption="false"></instance-form>
    </div>
  </card>
</template>
<script>
import _ from 'lodash'
import Card from '../noction-ui/Card.vue'
import Instance from '../models/instance'
import InstanceForm from '../forms/InstanceForm.vue'

export default {
  name: 'StepTwoView',
  data () {
    return {
      instance: _.clone(Instance.properties())
    }
  },
  mounted () {
    this.$emit('enableNextButton', false)
  },
  methods: {
    nextStep: () => this.$emit('nextStep'),
    canGoNext: function () { return this.$refs.form.validate() }
  },
  components: {
    Card,
    InstanceForm
  }
}
</script>
<style scoped>
</style>
