<template>
  <card :title="'Welcome to IRP Global Management'" :hasRefresh="false">
    <div slot="content">
      <p style="text-align: justify">
        Welcome to <b>IRP Global Management Interface</b>. To start using it, you need to
        setup at least one IRP instance. We will guide you, how to do it, in 2 easy steps.
        <br>
        <br>
        First of all you need to create at least one IRP instance configuration, we will do it,
        in next step.
      </p>
      <br>
      <span>Let's start.</span>
    </div>
  </card>
</template>
<script>
import Card from '../noction-ui/Card.vue'

export default {
  name: 'StepOneView',
  data () {
    return {
    }
  },
  components: {
    Card
  }
}
</script>
<style scoped>
</style>
