<template>
  <card :title="'We are done !'" :hasRefresh="false">
    <div slot="content">
      <p style="text-align: justify">
        Configuration is done, Global Management Interface is ready to work. Close setup guide and explore,
        brand new IRP Global Management interface, and what it can done for.
      </p>
      <br>
      <br>
      <h3>Some last notes:</h3>
      <ul>
        <li>You can add more instances, in Configuration page</li>
        <li>Invite and manage additional users, and etc</li>
      </ul>
      <br>
      <span>Let's start.</span>
    </div>
  </card>
</template>
<script>
  import Card from '../noction-ui/Card.vue'

  export default {
    name: 'StepThreeView',
    data () {
      return {
      }
    },
    components: {
      Card
    }
  }
</script>
<style scoped>

</style>
