<template>
  <ui-modal class="welcome-view" removeHeader ref="wizard" :dismissible="false">
    <component ref="stepView" :is="'step'+step" @v-on:enableNextButton="enableNextButton"></component>
    <ui-button @click="closeGuide" slot="footer" type="secondary">Close guide</ui-button>
    <ui-button @click="nextStep" slot="footer" :loading="buttonLoading">{{buttonText}}</ui-button>
  </ui-modal>
</template>
<script>
import UiModal from 'keen-ui/src/UiModal.vue'
import UiButton from 'keen-ui/src/UiButton.vue'
import Step1 from './Step1.vue'
import Step2 from './Step2.vue'
import Step3 from './Step3.vue'

export default {
  name: 'WelcomeView',
  data () {
    return {
      step: 1,
      buttonLoading: false,
      buttonText: 'Start',
      buttonEnabled: true,
      stepButtonsText: {
        1: 'Start',
        2: 'Add instance',
        3: 'Finish'
      }
    }
  },
  mounted () {
    this.$refs.wizard.open()
  },
  created () {
  },
  methods: {
    nextStep: function () {
      if (this.step === 1) {
        this.step += 1
      } else if (this.step === 2) {
        this.buttonEnabled = !(this.buttonLoading = true)
        this.$refs.stepView.canGoNext().then(this.onInstanceValidate)
      } else if (this.step === 3) {
        this.closeGuide()
      }
    },
    closeGuide: function () {
      this.$router.replace({name: 'Dashboard'})
    },
    enableNextButton: function (enabled) {
      this.buttonEnabled = enabled
    },
    onInstanceValidate: function (result) {
      if (result) {
        this.$store.dispatch('addInstance', this.$refs.stepView.instance)
          .then(this.onInstanceAdded)
          .catch(this.onInstanceAddError)
      } else {
        this.buttonEnabled = !(this.buttonLoading = false)
      }
    },
    onInstanceAdded: function () {
      this.step += 1
      this.buttonEnabled = !(this.buttonLoading = false)
    },
    onInstanceAddError: function (err) {
      console.log('Error ', err)
      this.buttonEnabled = !(this.buttonLoading = false)
    }
  },
  watch: {
    step () { this.buttonText = this.stepButtonsText[this.step] }
  },
  components: {
    UiModal,
    UiButton,
    Step1,
    Step2,
    Step3
  }
}
</script>
<style lang="scss">
  @import "../../assets/common.scss";
  @import "../../assets/keen-ui";

  .welcome-view .ui-modal__container {
    background-color: $card_background !important;
  }
</style>
