<template>
    <canvas ref="canvas" id="canvas"></canvas>
</template>
<script>
  import {Bar} from 'vue-chartjs'
  export default {
    name: 'Bar',
    extends: Bar,
    props: {
      legend: Object,
      chartData: {
        type: Object,
        required: true
      },
      type: {
        type: String,
        default: 'Bar'
      }
    },
    data: () => {
      return {
        options: {
          title: {
            display: false,
            text: ''
          },
          animation: {
            onProgress: this.renderLabel,
            onComplete: this.renderLabel
          },
          tooltips: {
            enabled: false,
            mode: 'index',
            intersect: false
          },
          responsive: true,
          scales: {
            xAxes: [{
              stacked: true,
              barThickness: 40
            }],
            yAxes: [{
              stacked: true
            }]
          }
        }
      }
    },
    watch: {
      chartData: function (newData) {
        this.load()
      }
    },
    mounted () {
      this.load()
    },
    methods: {
      load () {
        let self = this
        let numberOfLabels = (self.chartData.labels.length - 1)
        if (this.legend) {
          this.options.legend = this.legend
        }

        // Render main animation
        this.options.animation.onComplete =
            this.options.animation.onProgress = function () {
              let chartInstance = this.chart
              let ctx = chartInstance.ctx
              ctx.font = 'normal 10px \'Helvetica Neue\', \'Helvetica\', \'Arial\', sans-serif'
              ctx.textAlign = 'center'
              ctx.textBaseline = 'bottom'
              ctx.fillStyle = '#333333'
              this.data.datasets.forEach(function (dataset, i) {
                let meta = chartInstance.controller.getDatasetMeta(i)
                if (meta.hidden === true) {
                  return
                }
                meta.data.forEach(function (bar, index) {
                  let skipRowOfNotRegisteredLabel = index > numberOfLabels
                  if (skipRowOfNotRegisteredLabel) {
                    return null
                  } else {
                    let data = dataset.data[index]
                    ctx.fillText(data, bar._model.x, bar._model.y + 15)
                  }
                })
              })
            }

        // render main canvas layout
        this.renderChart(this.chartData, this.options)
      }
    }
  }
</script>
<style>

</style>