<template>
    <div class="boundaries-container">
        <canvas ref="canvas"></canvas>
        <div ref="cursorStrockLine" class="cursor-strock-line"></div>
    </div>
</template>
<script>
  import { Line } from 'vue-chartjs'
  import _ from 'lodash'
  export default {
    extends: Line,
    props: {
      legend: Object,
      chartData: {
        type: Object,
        required: true
      }
    },
    data: function () {
      return {
        cursorStrockLeftOffset: 0,
        options: {
          responsive: true,
          legend: {
            display: true,
            position: 'bottom'
          },
          tooltips: {
            mode: 'index',
            intersect: false,
            enabled: true,
            position: 'nearest',
            display: false,
            custom (model) {
              model.opacity = 0
            },
            callbacks: {
              footer: (datasets) => {
                let data = _.map(_.reverse(datasets), entry => {
                  return {currentValue: entry.yLabel}
                })
                this.$emit('cursorStrockLineMove', data)
              }
            }
          },
          elements: {
            line: {
              tension: 0.000001
            }
          },
          hover: {
            mode: 'nearest',
            intersect: true
          },
          scales: {
            xAxes: [{
              display: true,
              scaleLabel: {
                display: true
              }
            }],
            yAxes: [{
              display: true,
              scaleLabel: {
                display: true
              },
              gridLines: {
                display: true
              }
            }]
          }
        }
      }
    },
    watch: {
      chartData: function () {
        this.render()
      }
    },
    mounted () {
      this.addPlugin({
        id: 'my-plugin',
        afterUpdate: (chart) => {
          let cursorStrockLine = chart.canvas.closest('div').getElementsByClassName('cursor-strock-line')[0]
          let height = chart.chartArea.bottom
          this.cursorStrockLeftOffset = chart.chartArea.left
          cursorStrockLine.style.height = `${height}px`
          cursorStrockLine.style.left = `${this.cursorStrockLeftOffset}px`
        }
      })
      this.$refs.canvas.onmousemove = event => {
        if (event.offsetX > this.cursorStrockLeftOffset) {
          this.$refs.cursorStrockLine.style.left = `${event.offsetX}px`
        }
      }
      this.render()
    },
    components: {
    },
    methods: {
      render () {
        this.options = {...this.options, legend: this.legend}
        this.renderChart(this.chartData, this.options)
      }
    }
  }
</script>
<style scoped>
    .boundaries-container {
        position: relative;
    }
    .boundaries-container .cursor-strock-line {
        top: 0;
        position: absolute;
        border-left: 1px solid red;
    }
</style>