<template>
    <canvas ref="canvas"></canvas>
</template>
<script>
    import { Bubble } from 'vue-chartjs'
    export default {
      name: 'Bubblechart',
      extends: Bubble,
      props: {
        chartData: {
          type: Object,
          required: true
        }
      },
      data: function () {
        return {
          options: {}
        }
      },
      computed: {},
      watch: {
        chartData: function () {
          this.load()
        }
      },
      mounted () {
        this.load()
      },
      methods: {
        load () {
          this.renderChart(this.chartData, this.options)
        }
      }
    }
</script>
<style scoped>
</style>
