<template>
    <canvas ref="canvas" id="canvas"></canvas>
</template>
<script>
    import {HorizontalBar} from 'vue-chartjs'
    import _ from 'lodash'
    export default {
      name: 'HorizontalBar',
      extends: HorizontalBar,
      props: {
        legend: Object,
        chartData: {
          type: Object,
          required: true
        },
        type: {
          type: String,
          default: 'horizontalBar'
        }
      },
      data: () => {
        return {
          options: {
            title: {
              display: false,
              text: ''
            },
            animation: {
              onProgress: this.renderLabel,
              onComplete: this.renderLabel
            },
            tooltips: {
              enabled: false,
              mode: 'index',
              intersect: false
            },
            responsive: true,
            barPercentage: 1,
            scales: {
              xAxes: [{
                stacked: true,
                autoSkip: true,
                ticks: {
                  callback: function (value, index, values) {
                    return (value < 0 ? -value : value)
                  }
                }
              }],
              yAxes: [{
                stacked: true
              }]
            }
          }
        }
      },
      watch: {
        chartData: function (newData) {
          this.load()
        }
      },
      mounted () {
        this.load()
      },
      methods: {
        load () {
          let self = this
          let numberOfLabels = (self.chartData.labels.length - 1)
          if (this.legend) {
            this.options.legend = this.legend
          }
          // find max cols and define them to have equal cols form both edge
          let datasetsValues = []
          _.each(this.chartData.datasets, entry => datasetsValues.push(..._.map(entry.data, v => Math.abs(v))))
          let max = Math.abs(_.max(datasetsValues))
          _.each(this.chartData.datasets, (entry, key) => {
            if (entry.data.some(v => (v < 0))) {
              this.chartData.datasets[key].data.push(-max)
            } else {
              this.chartData.datasets[key].data.push(max)
            }
          })

          // Render main animation
          this.options.animation.onComplete =
              this.options.animation.onProgress = function () {
                let chartInstance = this.chart
                let ctx = chartInstance.ctx
                ctx.font = 'normal 12px \'Helvetica Neue\', \'Helvetica\', \'Arial\', sans-serif'
                ctx.textAlign = 'center'
                ctx.textBaseline = 'bottom'
                ctx.fillStyle = '#333333'
                this.data.datasets.forEach(function (dataset, i) {
                  let meta = chartInstance.controller.getDatasetMeta(i)
                  if (meta.hidden === true) {
                    return
                  }
                  meta.data.forEach(function (bar, index) {
                    let skipRowOfNotRegisteredLabel = index > numberOfLabels
                    if (skipRowOfNotRegisteredLabel) {
                      return null
                    } else {
                      let data = dataset.data[index]
                      let isNegative = (data < 0)
                      ctx.fillText((isNegative ? -(data) : data), (isNegative ? bar._model.base - 20 : bar._model.base + 20), bar._model.y + 10)
                    }
                  })
                })
              }

          // render main canvas layout
          this.renderChart(this.chartData, this.options)
        }
      }
    }
</script>
<style>

</style>