<template>
    <div class="pie-gadget">
        <div :style="'width:'+width">
            <canvas id="pie" ref="canvas"></canvas>
        </div>
    </div>
</template>
<script>
  import { Pie } from 'vue-chartjs'

  export default {
    name: 'Pie',
    extends: Pie,
    props: {
      width: String,
      legend: Object,
      chartData: {
        type: Object,
        required: true
      },
      type: {
        type: String,
        default: 'pie'
      }
    },
    data: () => {
      return {
        options: {
          title: {
            display: false,
            text: ''
          },
          layout: {
            padding: {
              left: 0,
              right: 0,
              top: 0,
              bottom: 0
            }
          },
          animation: {
            onProgress: this.renderLabel,
            onComplete: this.renderLabel
          },
          responsive: true
        }
      }
    },
    watch: {
      chartData: function () {
        this.load()
      }
    },
    mounted () {
      this.load()
    },
    methods: {
      load () {
        if (this.legend) {
          this.options.legend = this.legend
        }

        // Render main animation
        this.options.animation.onComplete =
            this.options.animation.onProgress = function () {
            }
        // render main canvas layout
        this.renderChart(this.chartData, this.options)
      }
    }
  }
</script>
<style scoped lang="scss">
</style>
