<template>
  <div class="pie-gadget">
    <canvas ref="canvas" class="by-20-loss" height="48" width="48"></canvas>
    <div class="left-side">
      <div class="left-value">{{ Math.round(value) }}%</div>
      <div class="left-label">{{ label }}</div>
    </div>
  </div>
</template>
<script>
import { Doughnut } from 'vue-chartjs'

export default {
  name: 'PieGadget',
  extends: Doughnut,
  props: {
    label: {
      default: '',
      type: String
    },
    value: {
      default: 0,
      type: Number
    },
    color: {
      default: '#FF9536',
      type: String
    }
  },
  data () {
    return {
      defaultOptions: {
        responsive: false,
        maintainAspectRatio: true,
        legend: false,
        tooltips: false,
        showTooltips: false,
        cutoutPercentage: 45,
        segmentShowStroke: false,
        borderWidth: 0
      }
    }
  },
  watch: {
    value: function () {
      let none = 100 - this.value
      this.renderChart({
        labels: ['none', this.label],
        datasets: [{
          data: [none, this.value],
          backgroundColor: ['#A7A7A7', this.color],
          borderColor: '#F6F6F6'
        }]
      }, this.defaultOptions)
    }
  }
}
</script>
<style scoped lang="scss">
  @import "../../assets/common";

  .pie-gadget {
    height: auto;
    overflow: hidden;
  }

  canvas {
    height: auto;
    float: left;
    display: inline-block;
  }

  .left-side {
    display: inline-block;
    float: left;
    margin-left: 10px;
    padding-bottom: 4px;
    height: 40px;
  }

  .left-label {
    color: #797979;
    font-size: 13px;
    display: block;
    height: 13px;
    margin-top: 8px;
  }

  .left-value {
    display: block;
    font-size: 19px;
    height: 19px;
    font-weight: bold;
    color: $grey_middle;
  }
</style>
