<template>
    <canvas ref="canvas"></canvas>
</template>
<script>
    import PieInPieChart from './pie_in_pie.js'
    import _ from 'lodash'
    export default {
      name: 'PieInPie',
      props: {
        chartData: {
          type: Object,
          required: true
        }
      },
      data: function () {
        return {
          options: {}
        }
      },
      watch: {
        chartData: function () {
          this.options = _.extend(this.options, this.chartData)
          this.load()
        }
      },
      mounted () {
        this.options = _.extend(this.options, this.chartData)
        this.load()
      },
      methods: {
        load () {
          let PieInPie = new PieInPieChart(this.$refs.canvas, this.options)
          PieInPie.draw()
        }
      }
    }
</script>
<style scoped>
</style>