<template>
    <notifications
            :group="group"
            :position="position"
            :duration="duration"
            :speed="speed"
            :classes="classes"
    />
</template>
<script>
  import Notifications from 'vue-notification'
  import {velocity} from 'velocity-animate'
  import Vue from 'vue'
  Vue.use(Notifications, velocity)

  export default {
    name: 'AppNotifications',
    props: {
      animationName: String,
      classes: 'vue-notification',
      duration: {type: Number, default: 10000},
      group: String,
      max: Number,
      position: {type: String, default: 'top right'},
      reverse: {type: Boolean, default: false},
      speed: {type: Number, default: 1000},
      width: {type: Number, default: 300}
    },
    data: () => {
      return {
        display_system_notification: false
      }
    },
    computed: {
      incomeMessage: function () {
        return this.$store.getters.getCurrentNotification
      }
    },
    watch: {
      incomeMessage: function (newMessage) {
        this.notify(newMessage)
      }
    },
    mounted () {
      try {
        Notification.requestPermission().then(permission => {
          if (permission === 'denied') {
            this.display_system_notification = false
          } else {
            this.display_system_notification = true
          }
        }).catch(err => {
          console.error(err)
        })
      } catch (err) {
        console.error(err)
      }
    },
    methods: {
      notify (message) {
        message.type = (message.type === 'warning' ? 'warn' : message.type)
        if (Vue.config.HAS_ACTIVE_TAB) {
          this.$notify(message)
        } else {
          let notification = new Notification((message.title ? message.title : ''), {body: message.text, icon: 'static/favicon.png'})
          notification.onclick = event => {
            event.preventDefault()
            window.focus()
            this.cancel()
          }
        }
      }
    },
    components: {}
  }
</script>
<style>

</style>