<template>
   <div class="app-snackbar preview-pane">
       <ui-snackbar-container
               ref="snackbarContainer"
               :position="position"
               :transition="transition"
               :queue-snackbars="queueSnackbars"
       ></ui-snackbar-container>
   </div>
</template>
<script>
  import UiSnackbarContainer from 'keen-ui/src/UiSnackbarContainer.vue'
  import Vue from 'vue'

  export default {
    name: 'AppSnackbar',
    props: {
      duration: {
        type: Number,
        default: 5000
      },
      position: {
        type: String,
        default: 'right'
      },
      transition: {
        type: String,
        default: 'slide'
      },
      queueSnackbars: {
        type: Boolean,
        default: true
      }
    },
    data () {
      return {}
    },
    mounted () {
      Vue.prototype.$snackbar = {create: this.create}
    },
    methods: {
      create: function (options = {message: '', duration: 1000, action: ''}) {
        this.message = options
        this.$refs.snackbarContainer.createSnackbar(options)
      }
    },
    components: {
      UiSnackbarContainer
    }
  }
</script>
<style scoped>
</style>
