*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: 44.5%;
  background-color: #fff;
}

/* Layout */
.wrapper {
  height: 100%;
  width: 100%;
  position: absolute;
  overflow: hidden;
}

.wrapper:before,
.wrapper:after {
  content: " ";
  display: table;
}

.wrapper:after {
  clear: both;
}

/** Content **/
.content {
  min-height: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 0;
}

.irp-gray-color {
  color: #999999 !important;
}

.irp-gray-background-color {
  background-color: #414141 !important;
}

/** Let's try to set 1000 as maximum top level index **/
nav {
  z-index: 1000;
}

.navbar-brand {
  padding: 5px 5px !important;
}

.navbar.navbar-default {
  box-shadow: 0 1px 3px 0 rgba(100, 100, 100, 0.2);
  margin-bottom: 0;
  min-height: 61px;
  max-height: 61px;
  border: 0;
  border-bottom: 1px solid transparent;
}

.header-container {
  margin-top: 6px;
}

img.menu-loader {
  margin-left: 48%;
  margin-right: 50%;
  min-width: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#notification-region, #user-region {
  display: inline-block;
  float: right;
  margin-left: 20px;
  margin-right: 20px;
  cursor: pointer;
}

/** Search on top bar **/
.status-search {
  font-style: italic;
  font-size: 13px;
  padding-top: 8px;
  padding-right: 18px;
}

.status-search input {
  border: none;
  background: transparent;
  min-width: 45px;
  width: 45px;
  text-decoration: none;
  text-align: right;
}

.user-status {
  font-size: 13px;
  font-weight: bold;
}

.user-status-icon {
  font-size: 16px;
}

/** End search on top bar **/

div.dropdown-menu, ul.dropdown-menu {
  background: #4F4F4F;
  border-radius: 3px !important;
  min-width: 240px;
  width: 240px;
  left: -90px !important;
  top: 50px !important;
  color: whitesmoke;
}

div.dropdown-menu .dropdown-menu-triangle {
  height: 15px;
  width: 15px;
  border: 10px solid rgba(0, 0, 0, 0);
  border-top-width: 0;
  border-bottom-color: #4F4F4F;
  position: absolute;
  top: -15px;
  z-index: 1001;
  display: inline-block;
  left: 50%;
  right: 50%;
  background: rgba(0, 0, 0, 0);
}

div.dropdown-menu.error-menu .dropdown-menu-triangle {
  left: 38%;
  right: 50%;
}

div.dropdown-menu.warning-menu .dropdown-menu-triangle {
  left: 47%;
  right: 50%;
}

div.dropdown-menu.info-menu .dropdown-menu-triangle {
  left: 57%;
  right: 43%;
}

div.dropdown-menu.user-menu .dropdown-menu-triangle {
  left: 59%;
}

div.dropdown-menu a {
  color: whitesmoke;
  text-decoration: none;
}

div.dropdown-menu.warning-menu {
  left: -112px !important;
}

div.dropdown-menu.info-menu {
  left: -134px !important;
}

div.dropdown-menu.user-menu {
  left: -90px !important;
  margin-top: 14px;
}

div.dropdown-menu.search-menu {
  left: -60px !important;
  width: 330px;
}

div.dropdown-menu.search-menu .items-menu li {
  padding: 15px;
}

div.dropdown-menu.search-menu .items-menu li:hover {
  background-color: #5a5a5a;
  cursor: pointer;
}

div.dropdown-menu.search-menu .items-menu b {
  text-transform: uppercase;
}

div.dropdown-menu.search-menu .items-menu .title {
  font-size: 11px;
  color: #fe9525;
}

div.dropdown-menu.search-menu .items-menu .hint {
  color: white;
}

/** Status menu elements */
div.mark-all, div.view-all {
  font-size: 9px;
  font-weight: bolder;
  text-decoration: none;
}

div.view-all a, div.mark-all a {
  text-decoration: none;
  cursor: pointer !important;
}

div.view-all a:hover, div.mark-all a:hover {
  text-decoration: none;
}

ul.items-menu, div.dropdown-menu {
  padding: 0 !important;
  margin-bottom: 0 !important;
}

ul.items-menu {
  overflow: hidden;
}

div.dropdown-menu.user-menu {
  width: 156px;
  max-width: 156px;
  min-width: 156px;
}

div.dropdown-menu.user-menu div.user-menu-item {
  font-size: 13px;
  height: 40px;
  max-height: 40px;
  min-height: 40px;
  padding-left: 18px;
  padding-top: 11px;
  padding-bottom: 11px;

  transition: color, background-color 0.4s ease;
}

div.dropdown-menu.user-menu .user-menu-item > * {
  float: left;
}

div.dropdown-menu.user-menu {
  padding: 7px 0 6px 0 !important;
}

div.dropdown-menu.user-menu .user-menu-item span {
  font-size: 17px;
  padding: 0 !important;
  margin: 0 !important;
}

div.dropdown-menu.user-menu .user-menu-item b {
  font-size: 13px;
  margin-left: 11px;
  vertical-align: middle;
  position: relative;
  top: -1px;
  color: #c1c1c1;
}

div.dropdown-menu.user-menu .user-menu-item:hover {
  background-color: #5a5a5a;
  color: #c5c5c5;
}

.error_line {
  font-size: 12px;
  margin-top: 11px;
  margin-left: 10px;
  margin-right: 9px;
}

.error_line .title {
  color: #777777;
}

.error_line .title .type {
  font-weight: bolder;
}

.error_line .title .timestamp {
  font-weight: normal;
}

.error_line .message {
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
}

.error_line .message .state {
  width: 18px;
  padding-left: 2px;
  padding-right: 2px;
  padding-top: 5px;
  display: inline-block;
}

.error_line .message .text {
  width: 197px;
  max-width: 197px;
  display: inline-block;
  height: 100%;
}

.error_line .similar {
  border-top: 2px solid #444444;
  border-bottom: 2px solid #444444;
  color: #ff4a59;
  font-size: 11px;
  width: 110%;
  margin-left: -5%;
  height: 35px;
  line-height: 2.9;
  text-transform: uppercase;
  cursor: pointer;
}

.error_line .virtual-checkbox {
  margin-top: -4px !important;
}

.virtual-checkbox {
  background: rgba(0, 0, 0, 0);
  border: 2px solid #ddd;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  text-align: center;
  position: relative;
  top: 50%;
}

.virtual-checkbox.dark {
  border-color: #4e4e4e;
}

.virtual-checkbox.checked {
  background-color: #4F4F4F;
  box-shadow: inset 0 0 0 3px #ddd;
}

.dropdown-menu .menu-footer {
  height: 31px;
  line-height: 31px;
  margin-left: 11px;
  margin-right: 11px;
}

.no-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Chrome/Safari/Opera */
  -khtml-user-select: none; /* Konqueror */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE/Edge */
  user-select: none;
}

.small-margins {
  min-height: 1px;
  padding-right: 5px !important;
  padding-left: 5px !important;
}

/* end */

/** Input **/
.left-inner-addon {
  position: relative;
  display: inline-block;
}

.left-inner-addon input {
  padding-left: 33px;
  font-size: 13px;
}

.left-inner-addon i.icon {
  position: absolute;
  pointer-events: none;
  font-size: 16px;
  line-height: 16px;
  padding-left: 10px;
  padding-top: 11px;
}

/** Only for top search region input **/
#search-region .left-inner-addon input {
  width: 100px;
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding-top: 5px;
  padding-left: 33px;

  height: 33px;

  transition: border, background-color, width 0.4s;
}

#search-region .left-inner-addon i.icon {
  color: #cfcfcf;
}

#search-region .left-inner-addon input:focus {
  width: 195px;
  height: 33px;
  border: 1px solid #cecece;
  border-top: 3px solid #cfcfcf;
  background-color: #FFFFFF;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  padding-left: 33px;
  padding-top: 5px;

  transition: border, background-color, width 0.4s;
}

#search-region .left-inner-addon input:not([value='']) {
  width: 195px;
  height: 33px;
  border: 1px solid #cecece;
  border-top: 3px solid #cfcfcf;
  background-color: #FFFFFF;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
  padding-left: 33px;
  padding-top: 5px;

  transition: border, background-color, width 0.4s;
}

@keyframes input-border-pulsate {
  0% {
    border-top-color: rgba(207, 207, 207, 1);
  }
  50% {
    border-top-color: rgba(246, 132, 31, 1);
  }
  100% {
    border-top-color: rgba(207, 207, 207, 1);
  }
}

.left-inner-addon input.busy {
  animation: input-border-pulsate 1s infinite;
}

/** End input **/

.button,
.btn-new {
  background-color: #dbdbdb;
  border-radius: 3px;
  border: 1px solid #dbdbdb;
  padding-left: 18px;
  padding-right: 18px;
  color: #616161;
  line-height: 30px;
  min-height: 30px;
  margin-left: 45%;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.content-wrapper {
  position: absolute;
  bottom: 0;
  top: 61px;
  right: 0;
  left: 52px;
  overflow-y: auto;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-transition: left 0.3s ease 0.1s;
  -moz-transition: left 0.3s ease 0.1s;
  -o-transition: left 0.3s ease 0.1s;
  transition: left 0.3s ease 0.1s;
}

.irp-btn {
  background-color: #c8c8c8 !important;
  max-height: 26px;
  height: 26px;
  color: #414141 !important;
  font-weight: bold;
  font-size: 14px;
  line-height: 14px;
  outline: none;
  margin: 10px;
  border-radius: 2px;
}

.irp-btn.btn-success {
  background-color: #FF9536 !important;
  border-color: #FF9536 !important;
}

section.content {
  overflow-x: hidden;
}

.sidebar-label {
  display: none;
}

.main-sidebar.sidebar-closed {
  left: -190px;

  transition: left 0.9s ease;
}

.main-sidebar.sidebar-open {
  left: 0;

  transition: left 0.9s ease;
}

.main-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 62px;
  min-height: 100%;
  bottom: 0;
  z-index: 900;
  width: 53px;

  -webkit-transition: -webkit-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, width 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
}

.main-sidebar.sidebar-closed,
.main-sidebar.sidebar-open {
  left: 0 !important;
}

@media only screen and (max-width : 767px) {
  .main-sidebar {
    position: absolute;
    width: 53px;
    left: 0 !important;
  }

  .content-wrapper {
    left: 0;
  }
  .sidebar-label {
    display: none;
  }

  /* Icon text */
  .sidebar-menu > li > span > span:nth-child(2) {
    vertical-align: top;
    display: none;
  }

  .main-sidebar.sidebar-closed {
    left: -193px !important;
  }
}

.menu-toggle {
  width: 100%;
  min-height: 24px;
  max-height: 24px;
  text-align: center;
  color: #5d5d5d;
  background-color: #393939;
  font-size: 10px;
  margin-top: 20px;
  cursor: pointer;
  padding-top: 4px;
}

body.sidebar-open .menu-toggle::before {
  content: "\00ab";
  font-size: 20px;
  position: absolute;
  display: block;
  margin-left: 55px;
  margin-top: -8px;
}

body.sidebar-closed .menu-toggle::before {
  content: "\00bb";
  font-size: 20px;
  position: absolute;
  align-content: center;
  margin-left: 14px;
  margin-top: -8px;
}

/** First level item */
.sidebar-menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-menu > li {
  position: relative;
  margin: 0;
  padding: 0;
  max-height: 52px;
  min-height: 52px;

  transition: color, background-color 0.4s ease;
}

.sidebar-menu > li > span {
  padding: 15px 15px;
  display: block;
  text-decoration: none;
  max-height: 52px;
  min-height: 52px;
  color: #bdbdbd;
  cursor: pointer;
}

/* Icon */
.sidebar-menu > li > span > span:nth-child(1) {
  font-size: 23px;
  line-height: 23px;
  color: #8d8d8d;
}

/** Second level items */
div.sidebar-sub-menu {
  position: absolute;
  display: block;
  top: 0;
  min-width: 300px;
  min-height: 300px;
  max-height: 500px;
  max-width: 300px;
}

div.triangle-left {
  height: 15px;
  width: 15px;
  border: 10px solid rgba(0, 0, 0, 0);
  border-top-width: 15px;
  border-left-color: #4F4F4F;
  z-index: 900;
  display: inline-block;
  background: rgba(0, 0, 0, 0);
  margin-top: 15px;
}

div.sidebar-sub-menu ul.actions-menu {
  background-color: #454545;
  border-radius: 3px;
  margin-left: -5px;
  display: inline-block;
  position: absolute;
  max-height: 500px;
  overflow-y: auto;
  overflow-x: hidden;
}

div.sidebar-sub-menu ul.actions-menu li.header {
  background-color: #3d3d3d;
  color: #c0772f;
  height: 28px;
  text-align: center;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-transform: uppercase;
  line-height: 28px;
  text-decoration: none;
  font-weight: 600;
}

div.sidebar-sub-menu ul.actions-menu li {
  height: 52px;
  line-height: 52px;
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  width: 100%;

  transition: color, background-color 0.4s ease;
}

div.sidebar-sub-menu ul.actions-menu li:hover:not(.header),
div.sidebar-sub-menu ul.actions-menu li.active {
  background-color: #4e4e4e;

  transition: color, background-color 0.4s ease;
}

div.sidebar-sub-menu ul.actions-menu a {
  color: #b2b2b2;
  height: 52px;
  line-height: 52px;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
}

div.sidebar-sub-menu div.triangle-left, div.sidebar-sub-menu ul {
  float: left;
}

body.sidebar-open #sidebar-region > section > ul > li > div.sidebar-sub-menu {
  display: none;
}

body.sidebar-open #sidebar-region > section > ul > li.show > div.sidebar-sub-menu {
  display: block;
  left: 190px;
}

body.sidebar-closed #sidebar-region > section > ul > li > div.sidebar-sub-menu {
  display: none;
}

body.sidebar-closed #sidebar-region > section > ul > li.show > div.sidebar-sub-menu {
  display: block;
  left: 53px;
}

.refresh,
.loader
{
  display: block;
  width: 30px;
}

.refresh.spin,
.loader.spin
{
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

table {
  display: block !important;
  white-space: nowrap;
  margin-bottom: 5px !important;
}

table tr {
  min-height: 25px;
}

table tr.odd {
  background: rgb(246, 246, 246)
}

table tr.even {
  background: rgb(228, 228, 228);
}

table thead tr td {
  text-align: center;
  color: rgb(79, 79, 79);
  font-weight: 700;
}

.table > tbody > tr > td {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity 3s ease-in-out
}

.fade-enter,
.fade-leave-to .fade-leave-active {
  opacity: 0
}

.bounce-transition {
  display: inline-block; /* otherwise scale animation won't work */
}
.bounce-enter {
  animation: bounce-in .5s;
}
.bounce-leave {
  animation: bounce-out .5s;
}
@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0);
  }
}

/** Modal vue dialog **/
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: auto;
  max-width: 60%;
  margin: 0px auto;
  padding: 10px 10px;
  background-color: #F8F8F8;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-header {
  padding: 5px !important;
}

.modal-body {
  width: auto;
  margin: 2px 0;
  padding: 0px;
}

.modal-default-button {
  float: right;
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/** End modal vue dialog **/

.tooltip {
  opacity: 1 !important;
  border-radius: 3px;
}

.tooltip .tooltip-inner {
  background-color: #444444 !important;
}

td.as_name {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu .submenu {
  position:absolute;
  z-index:9999;
  margin-top:-25px;
  width: 280px;
  margin-left:25px;
  border-radius: 5px;
  background: #fff;
  padding-bottom: 5px;
  display: none;
  opacity: 0;
}
.menu li:hover .submenu {
  display: block;
  opacity: 1;
}
.menu .submenu .title {
  color: #ff8e34;
  padding: 10px 10px 5px;
  font-weight: 700;
  font-size: 14px;
  border-bottom:2px solid #e3e3e3;
}
.menu .submenu .title:hover {
  background:#fff;
  color: #ff8e34;
}
.menu .submenu li {
  list-style-type: none;
  margin-left: -40px;
  transition: all 0.3s ease;
}
.menu .submenu li .sidebarItem {
  width: 0px;
  height: 40px;

}
.menu .submenu li:hover, .menu .submenu li:hover .router-link-active {
  background-color: #e4e4e4;
  color: #acacac;
}
.menu .submenu li .status-icon-sidebar {
  float: left;
}
.menu .submenu li .item {
  width: 280px;
}
.menu .submenu li .item-text {
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
}
/** IRP UI **/
button.ui-irp-button {
  width: auto;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ff8400;
  border: none;
  font-weight: bold;
  font-size: 1.2em;
  color: #FFFFFF;
  display: block;
  margin: 2px;
  cursor: pointer;
}

input.ui-irp-input {
  width: auto;
  height: 40px;
  padding: 10px;
  font-weight: bold;
  font-size: 1em;
  border-radius: 0.1em;
  border-width: 0;
  display: block;
  margin: 2px;
}
/** END IRP UI **/
  /* Responsive text */
.text-xs-left { text-align: left; }
.text-xs-right { text-align: right; }
.text-xs-center { text-align: center; }
.text-xs-justify { text-align: justify; }

@media (min-width: 768px) {
  .text-sm-left { text-align: left; }
  .text-sm-right { text-align: right; }
  .text-sm-center { text-align: center; }
  .text-sm-justify { text-align: justify; }
}

@media (min-width: 992px) {
  .text-md-left { text-align: left; }
  .text-md-right { text-align: right; }
  .text-md-center { text-align: center; }
  .text-md-justify { text-align: justify; }
}

@media (min-width: 1200px) {
  .text-lg-left { text-align: left; }
  .text-lg-right { text-align: right; }
  .text-lg-center { text-align: center; }
  .text-lg-justify { text-align: justify; }
}
