<template>
  <ui-dialog ref="dialog" title="Edit report parameters" class="filters-dialog">
    <instance-select
      :multiple="false"
      v-model="selectedInstance"
      v-if="instance"
    ></instance-select>

    <ui-textbox
      v-model="selectedPrefix"
      label="Prefix"
    ></ui-textbox>

    <ui-textbox
      v-model="selectedAsnumber"
      label="Prefix"
    ></ui-textbox>

    <ui-button slot="footer" @click="close">Close</ui-button>
    <ui-button slot="footer" color="green" @click="apply">Apply</ui-button>
  </ui-dialog>
</template>
<script>
import _ from 'lodash'
import UiTextbox from 'keen-ui/src/UiTextbox.vue'
import UiAutocomplete from 'keen-ui/src/UiAutocomplete.vue'
import UiButton from 'keen-ui/src/UiButton.vue'
import UiDialog from 'keen-ui/src/UiModal.vue'
import InstanceSelect from '../forms/InstanceSelect.vue'

export default {
  name: 'ReportFiltersView',
  props: ['filters', 'instance'],
  data () {
    return {
      selectedInstance: _.clone(this.instance),
      selectedPrefix: _.clone(this.filters.prefix),
      selectedAsnumber: _.clone(this.filters.asnumber)
    }
  },
  mounted () {
    this.$refs.dialog.open()
  },
  created () {
  },
  methods: {
    close: function () {
      this.$refs.dialog.close()
      this.$emit('done')
    },
    apply: function () {
      this.$emit('apply')
      this.close()
    },
    generate: function () {
      let asFilter = (a) => _.isString(a) && a.startsWith('selected')
      let filters = _.pickBy(this, asFilter)
      return filters
    }
  },
  components: {
    InstanceSelect,
    UiDialog,
    UiButton,
    UiAutocomplete,
    UiTextbox
  }
}
</script>
<style>
  .filters-dialog .ui-modal__body {
    min-height: 30em !important;
  }
</style>
