<template>
  <div class="report">

    <report-filters
      :filters="filters"
      :instance="instance"
      v-if="filtersShow"
      v-on:done="filtersShow = false"
    ></report-filters>

    <div class="report-header">
      <div class="report-title">
        <h3>{{ title }}</h3>
        <i class="icon-filter" @click="filtersShow = !filtersShow"></i>
      </div>
      <div class="report-filters">
        <i class="icon-emailing"></i>
        <i class="icon-print"></i>
        <i class="icon-export"></i>
        <div class="spacer"></div>
        <div class="date-range">
          <i class="icon-timestamp"></i>
          <div>last 24 hours</div>
        </div>
      </div>
    </div>
    <slot class="report-content" name="content"></slot>
  </div>
</template>
<script>
import ReportFilters from './ReportFilters.vue'

export default {
  name: 'ReportBaseView',
  props: {
    title: {
      type: String,
      default: ''
    },
    filters: {
      type: Object
    },
    instance: {
      type: [Object, Array]
    }
  },
  data () {
    return {
      filtersShow: false
    }
  },
  components: {
    ReportFilters
  }
}
</script>
<style scoped lang="scss">
  @import "../../assets/common";

  .report {
    display: block;
    position: relative;
    min-height: 10em;
    margin-bottom: 2em;

    .report-header {
      display: flex;
      flex-direction: row;
      width: 100%;
      margin-bottom: 0.5em;

      i {
        cursor: pointer;
      }

      .report-title {
        order: 0;
        flex-grow: 3;

        h3 {
          margin: 0;
          float: left;
        }

        i {
          margin-left: 1em;
          display: inline-block;
          font-size: 1.2em;
        }
      }

      .report-filters {
        font-size: 1.4em;

        .spacer {
          width: 20px;
          display: inline-block;
        }

        .date-range {
          display: inline-block;
          font-size: 0.6em;

          div {
            font-size: 1em;
            font-weight: bolder;
            color: #8d8d8d;
            line-height: 1.4em;
            float: right;
            vertical-align: middle;
            margin-left: 1em;
          }
        }

        i.icon-emailing {
          font-size: 1em !important;
        }

        i.icon-timestamp {
          font-size: 1.4em;
        }

        i.icon-print {
          font-size: 0.9em;
        }

        i.icon-export {
          font-size: 0.8em;
        }
      }
    }

    .report-content {
      margin-top: 1em;
      margin-bottom: 1em;
    }

    i {
      font-size: 0.8em;
      line-height: 1em;
      margin-top: 5px;
      color: $grey_middle;
    }
  }
</style>
