<template>
  <report :title="title" :filters="this.filters" :instance="instance">
    <card :ready="true" :hasRefresh="false" slot="content" :header="false" controlsAlign="left">

      <content-placeholders :rounded="true" v-if="busy" slot="content">
        <content-placeholders-text :lines="filters.pageSize + 3" />
      </content-placeholders>

      <display
        ref="view"
        slot="content"
        :columns="columns"
        :indexed="true"
        :rows="data"
        :error="error"
        :sortable="true"
        :filters="filters"
        v-show="showContent"
        @filtrate="onFiltrate"
      ></display>

      <div class="full-error" slot="content" v-if="error === 1">
        <h3 v-for="(message, id) in errorMessages">
          {{ message }}
        </h3>
      </div>

      <pagination
        slot="controls"
        v-model="filters.page"
        :pageSize="filters.pageSize"
        :totalVisible="10"
        :records="records"
        v-if="showContent"
      ></pagination>
    </card>
  </report>
</template>
<script>
import Card from '../noction-ui/Card.vue'
import Report from './ReportBase.vue'
import Display from '../views/TableView.vue'
import Pagination from '../noction-ui/Paginator.vue'
import HTTP from '../../api/irp'
import Parser from '../../parser'
import _ from 'lodash'
import Defintions from './reports_definitions'

const NO_ERROR = 0
const FULL_ERROR = 1

export default {
  name: 'TableReportView',
  data () {
    return {
      endpoint: '',
      ready: false,
      busy: false,
      error: 0,
      data: [],
      instance: null,
      titlePlaceholder: '',
      records: 0,
      columns: [],
      filters: {}
    }
  },
  created: function () {
    let report = this.$route.params.report || 'currentsImprovements'
    this.titlePlaceholder = Defintions[report].title
    this.columns = Defintions[report].columns
    this.filters = Defintions[report].filters
    this.endpoint = Defintions[report].endpoint
  },
  mounted: function () {
  },
  methods: {
    fetch () {
      this.busy = true
      if (!this.instance) {
        this.instance = _.head(this.$store.getters.allInstances)
      }

      let params = this.filters

      new HTTP([this.instance._id]).get(this.endpoint, {params})
        .then(this.extract)
        .catch(this.processError)
    },
    findInstance (id) {
      return this.$store.getters.getInstanceById(id)
    },
    extractSingleReport (report, id) {
      let instance = this.findInstance(id)
      if (!instance) {
        console.warn('Response come up from instance, which is not in settings of this widget')
        console.warn('Response from [{0}] and settings [{1}]'.format(id, this.widget.settings.instances))
        return []
      }
      this.records = _.result(report, 'reports.0.records')
      let result = Parser.parse(report, this.endpoint)
      return result
    },
    extract (response) {
      let data = this.filterError(response)
      if (_.isEmpty(data)) {
        this.data = []
      } else {
        let buffer = _.flatMap(data, this.extractSingleReport, [])
        this.data = buffer
      }
      this.busy = false
    },
    filterError (response) {
      let data = {}
      let errors = {}

      _.each(response.data, function (report, key) {
        if (report && report.error) {
          errors[key] = report.messages
          return
        }
        data[key] = report
      })

      this.errorMessages = errors

      if (!_.keys(data).length) {
        this.error = FULL_ERROR
      } else {
        this.error = NO_ERROR
      }
      return data
    },
    onFiltrate: function (changed) {
      console.log('Filters ', this.filters, changed)
      this.filters = _.merge(this.filters, changed)
      console.log('Filters ', this.filters)
    }
  },
  watch: {
    filters: {
      handler: function () {
        console.log('fetch 2')
        this.fetch()
      },
      deep: true
    },
    '$route.params': function (newParams) {
      let report = this.$route.params.report || 'currentsImprovements'
      this.titlePlaceholder = Defintions[report].title
      this.columns = Defintions[report].columns
      this.filters = Defintions[report].filters
      this.endpoint = Defintions[report].endpoint
      this.fetch()
      console.log('have been changed', report)
      console.log(this.columns)
    }
  },
  computed: {
    title: function () {
      if (this.instance) {
        return '{} {}'.format(this.titlePlaceholder, this.instance.host)
      }
      return 'Table report'
    },
    showContent: function () {
      return !this.busy && this.error !== 1
    },
    pages: function () {
      return Math.round(this.records / this.pageSize) + 1
    }
  },
  components: {
    Report,
    Display,
    Card,
    Pagination
  }
}
</script>
<style scoped>
</style>
