<template>
  <card title="Profile" :hasRefresh="false">
    <table slot="content">
      <tr>
        <td>
          <b>Username</b>:
        </td>
        <td>
          {{$store.getters.profile.username}}
        </td>
      </tr>
      <tr>
        <td>
          <b>Email</b>:
        </td>
        <td>
          {{$store.getters.profile.email}}
        </td>
      </tr>
      <tr>
        <td>
          <b>First name</b>:
        </td>
        <td>
          {{$store.getters.profile.first_name}}
        </td>
      </tr>
      <tr>
        <td>
          <b>Last name</b>:
        </td>
        <td>
          {{$store.getters.profile.last_name}}
        </td>
      </tr>
    </table>
    <ui-button slot="controls" @click="editProfile">Edit</ui-button>
  </card>
</template>
<script>
import Card from '../noction-ui/Card.vue'
import {UiButton} from 'keen-ui'

export default {
  name: 'ManageProfileView',
  data () {
    return {
      edit: false
    }
  },
  mounted () {
  },
  created () {
  },
  methods: {
    editProfile () {
    }
  },
  components: {
    UiButton,
    Card
  }
}
</script>
<style scoped>
  table {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
  }

  tr > td:first-child {
    width: 20%;
  }
</style>
