<template>
  <card title="Manage users" :hasRefresh="false">

    <ui-button slot="controls">Create register link</ui-button>
    <ui-button slot="controls">Create user</ui-button>
  </card>
</template>
<script>
import Card from '../noction-ui/Card.vue'
import UiButton from 'keen-ui/src/UiButton.vue'

export default {
  name: 'ManageUsersView',
  data () {
    return {
    }
  },
  mounted () {
  },
  created () {
  },
  components: {
    Card,
    UiButton
  }
}
</script>
<style scoped>

</style>
