<template>
  <card
    title="Manage instances"
    :hasRefresh="false"
    controlsAlign="right"
    :expandUrl="$router.resolve(route)"
  >
    <div slot="content">
      <ui-modal ref="instanceDialog" :title="dialog.title" @close="onClose">
        <instance-form v-if="newInstance" v-model="newInstance" :hostEditable="dialog.hostReadonly"></instance-form>
        <div slot="footer">
          <div class="error-message">
          </div>
          <ui-button
            ref="instance"
            @click="closeDialog"
          >Close</ui-button>
          <ui-button
            ref="instance"
            :loading="dialog.loading"
            @click="saveInstance"
            v-if="dialog.save"
            color="green"
          >Save</ui-button>
          <ui-button
            ref="instance"
            :loading="dialog.loading"
            @click="createInstance"
            v-if="dialog.create"
            color="green"
          >Create</ui-button>
        </div>
      </ui-modal>

      <div class="empty-list" v-if="!$store.getters.allInstances.length">
        <h3>No IRP api instances yet configured</h3>
      </div>

      <table v-if="$store.getters.allInstances.length">
        <tr v-for="(instance, index) in $store.getters.allInstances" :key="instance._id" :class="{odd: index % 2, even: !(index % 2)}">
          <td>
            <div class="color-rect" :style="{background: instance.color}"></div>
          </td>
          <td colspan="3">
            {{instance.host}} <small>{{ instance.username }}</small>
          </td>
            <td>
                <i class="icon-st_ok" v-tooltip="'Active'" v-if="instance.status"></i>
                <i class="icon-st_warn" v-tooltip="'Not Active'" v-else></i>
            </td>
          <td>
            <ui-progress-circular v-if="instanceState(instance) === 'removing'" color="black" size="20" autoStroke :stroke="8"></ui-progress-circular>
            <i
              class="icon-cfg last"
              v-tooltip="'Edit instance'"
              v-if="instanceState(instance) === 'ok'" @click="editInstanceWizardShow(instance)"
            ></i>
            <i
              class="icon-st_error last"
              v-if="instanceState(instance) === 'ok'" @click="removeInstance(instance)"
              v-tooltip="'Remove instance configuration'"
            ></i>
          </td>
        </tr>
      </table>
    </div>
    <ui-button slot="controls" @click="newInstanceWizardShow">Add</ui-button>
  </card>
</template>
<script>
import _ from 'lodash'
import Instance from '../models/instance'
import Card from '../noction-ui/Card.vue'
import UiButton from 'keen-ui/src/UiButton.vue'
import UiModal from 'keen-ui/src/UiModal.vue'
import UiTextbox from 'keen-ui/src/UiTextbox.vue'
import UiCheckbox from 'keen-ui/src/UiCheckbox.vue'
import UiProgressCircular from 'keen-ui/src/UiProgressCircular.vue'
import UiSnackbarContainer from 'keen-ui/src/UiSnackbarContainer.vue'
import UiSnackbar from 'keen-ui/src/UiSnackbar.vue'
import InstanceForm from '../forms/InstanceForm.vue'

export default {
  name: 'ManageInstancesView',
  data () {
    return {
      newInstance: false,
      colorsAlreadyInUse: [],
      dialog: {
        title: '',
        create: false,
        save: false,
        close: true,
        loading: false,
        hostReadonly: false
      },
      route: {
        name: 'Instances',
        params: {
          view: 'instance-list',
          name: 'Instances'
        }
      }
    }
  },
  methods: {
    onClose () {
      this.newInstance = false
      this.dialog.hostReadonly = false
      this.dialog.loading = false
    },
    closeDialog: function () {
      this.$refs.instanceDialog.close()
      this.newInstance = false
      this.dialog.hostReadonly = false
      this.dialog.loading = false
    },
    handleError: function (error) {
      console.error(error)
    },
    instanceStatus: (instance) => {
      if (instance.error) {
        return 'icon-st_error'
      }

      return instance.status ? 'icon-st_ok' : 'icon-st_warn'
    },
    newInstanceWizardShow: function () {
      this.newInstance = false
      this.newInstance = Instance.properties()
      this.dialog.title = 'Create new instance'
      this.dialog.save = false
      this.dialog.create = true
      this.dialog.hostReadonly = false
      this.$refs.instanceDialog.open()
    },
    editInstanceWizardShow: function (instance) {
      this.newInstance = false
      this.newInstance = JSON.parse(JSON.stringify(instance))
      this.dialog.title = 'Edit {} instance'.format(instance.host)
      this.dialog.save = true
      this.dialog.create = false
      this.dialog.hostReadonly = true
      this.$refs.instanceDialog.open()
    },
    createInstance: function () {
      this.dialog.loading = true
      let instance = JSON.parse(JSON.stringify(this.newInstance))
      this.$store.dispatch('addInstance', instance)
        .then(_.partial(this.successCreate, instance))
        .catch(this.errorCreate)
    },
    successCreate: function (instance) {
      this.closeDialog()
      this.$snackbar.create({
        message: 'Instance {} successfully created'.format(instance.host)
      })
    },
    errorCreate: function (error) {
      this.dialog.loading = false
      this.$snackbar.create({
        message: 'Instance fail to created. {}'.format(error),
        duration: 8000
      })
    },
    removeInstance: function (instance) {
      this.$store.commit('UPDATE_INSTANCE_STATE', 'removing')
      this.$store.dispatch('removeInstance', instance)
        .then(_.partial(this.successRemove, instance))
        .catch(this.errorRemove)
    },
    successRemove: function (instance) {
      this.$store.commit('CLEAR_INSTANCE_STATE', instance._id)
      this.$snackbar.create({
        message: 'Instance successfully removed',
        action: 'Undo',
        onActionClick: _.partial(this.undoRemove, instance)
      })
    },
    errorRemove: function () {
      this.$store.commit('UPDATE_INSTANCE_STATE', 'ok')
      this.$snackbar.create({
        message: 'Error happen while removing instance',
        duration: 8000
      })
    },
    undoRemove: function (instance) {
      instance._id = null
      this.$store.dispatch('ADD_INSTANCE', instance)
    },
    saveInstance: function () {
      this.dialog.loading = true
      let instance = JSON.parse(JSON.stringify(this.newInstance))
      this.$store.dispatch('saveInstance', instance)
        .then(this.successSave)
        .catch(this.errorCreate)
    },
    successSave: function (instance) {
      this.closeDialog()
      this.$snackbar.create({
        message: 'Instance {} configuration successfully saved'.format(instance.host),
        duration: 8000
      })
    },
    instanceState: function (instance) {
      let state = this.$store.getters.getInstanceState(instance._id)
      return state || 'ok'
    }
  },
  components: {
    UiTextbox,
    Card,
    InstanceForm,
    UiButton,
    UiModal,
    UiCheckbox,
    UiProgressCircular,
    UiSnackbarContainer,
    UiSnackbar
  }
}
</script>
<style scoped>
  table {
    width: 100%;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 2em;
    white-space: nowrap;
    border-collapse: collapse;
  }

  table thead tr td {
    padding: 1em;
  }

  table thead tr td,
  table tbody tr td
  {
    padding: 0.5em;
  }

  table tr td {
    padding: 0.5em;
    border: none;
  }

  table tr.odd {
    background: rgb(246, 246, 246)
  }

  table tr.even {
    background: rgb(228, 228, 228);
  }

  i {
    font-size: 1.4em;
    cursor: pointer;
  }

  i.last {
    float: right;
    margin-left: 1em;
  }

  .icon-ignored_pref {
    color: #EB6361;
  }

  .ui-progress-circular {
    float: right;
  }

  .empty-list {
    min-height: 6em;
    text-align: center;
  }

  .empty-list h3 {
    color: #9E9D9B;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 50%;
  }

  .color-rect {
    display: block;
    width: 1em;
    height: 1em;
  }
</style>
