<template>
  <div class="profile">
    <masonry
      :cols="layout"
      :gutter="{default: '30px', 700: '15px'}"
    >

      <manage-profile></manage-profile>
      <manage-instances></manage-instances>
      <manage-users v-if="$store.getters.profile.is_admin"></manage-users>
    </masonry>
  </div>
</template>
<script>
  import ManageInstances from './ManageInstances.vue'
  import ManageProfile from './ManageProfile.vue'
  import ManageUsers from './ManageUsers.vue'

  export default {
    name: 'ProfileView',
    data () {
      return {
        layout: {default: 3, 1000: 2, 700: 1, 400: 1}
      }
    },
    mounted () {
    },
    created () {
    },
    methods: {
    },
    components: {
      ManageInstances,
      ManageProfile,
      ManageUsers
    }
  }
</script>
<style scoped lang="scss">
</style>
