@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot');
  src:  url('icomoon.eot') format('embedded-opentype'),
  url('icomoon.ttf') format('truetype'),
  url('icomoon.woff') format('woff'),
  url('icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-manual_imp .path1:before {
  content: "\e906";
  color: rgb(77, 77, 79);
}
.icon-manual_imp .path2:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(77, 77, 79);
}
.icon-manual_imp .path3:before {
  content: "\e908";
  margin-left: -1em;
  color: rgb(77, 77, 79);
}
.icon-manual_imp .path4:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(77, 77, 79);
}
.icon-manual_imp .path5:before {
  content: "\e90a";
  margin-left: -1em;
  color: rgb(77, 77, 79);
}
.icon-manual_imp .path6:before {
  content: "\e90b";
  margin-left: -1em;
  color: rgb(77, 77, 79);
}
.icon-manual_imp .path7:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(77, 77, 79);
}
.icon-manual_imp .path8:before {
  content: "\e90d";
  margin-left: -1em;
  color: rgb(77, 77, 79);
}
.icon-manual_imp .path9:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(77, 77, 79);
}
.icon-manual_imp .path10:before {
  content: "\e90f";
  margin-left: -1em;
  color: rgb(77, 77, 79);
}
.icon-manual_imp .path11:before {
  content: "\e910";
  margin-left: -1em;
  color: rgb(245, 132, 31);
}
.icon-manual_imp .path12:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-manual_imp .path13:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-policy_imp:before {
  content: "\e913";
  color: #4d4d4f;
}
.icon-loader .path1:before {
  content: "\e914";
  color: rgb(246, 133, 31);
}
.icon-loader .path2:before {
  content: "\e95a";
  margin-left: -1em;
  color: rgb(59, 59, 57);
}
.icon-addwidget:before {
  content: "\e915";
}
.icon-BGPd:before {
  content: "\e916";
}
.icon-cfg:before {
  content: "\e917";
}
.icon-collector:before {
  content: "\e918";
}
.icon-core:before {
  content: "\e919";
}
.icon-dash:before {
  content: "\e91a";
}
.icon-emailing:before {
  content: "\e91b";
}
.icon-error:before {
  content: "\e91c";
}
.icon-events:before {
  content: "\e91d";
}
.icon-explorer:before {
  content: "\e91e";
}
.icon-export:before {
  content: "\e91f";
}
.icon-failover:before {
  content: "\e920";
}
.icon-filter:before {
  content: "\e921";
}
.icon-frontend:before {
  content: "\e922";
}
.icon-global:before {
  content: "\e923";
}
.icon-graphs:before {
  content: "\e924";
}
.icon-help:before {
  content: "\e925";
}
.icon-ignored_pref:before {
  content: "\e926";
}
.icon-info:before {
  content: "\e927";
}
.icon-unlockdash:before {
  content: "\e928";
}
.icon-lockdash:before {
  content: "\e929";
}
.icon-logo:before {
  content: "\e92a";
}
.icon-logout:before {
  content: "\e92b";
}
.icon-notific:before {
  content: "\e92c";
}
.icon-outage:before {
  content: "\e92d";
}
.icon-print:before {
  content: "\e92e";
}
.icon-provider:before {
  content: "\e92f";
}
.icon-commit:before {
  content: "\e930";
}
.icon-direct:before {
  content: "\e931";
  color: #4d4d4f;
}
.icon-indirect:before {
  content: "\e932";
  color: #4d4d4f;
}
.icon-new_imp .path1:before {
  content: "\e933";
  color: rgb(245, 132, 31);
}
.icon-new_imp .path2:before {
  content: "\e934";
  margin-left: -1em;
  color: rgb(77, 77, 79);
}
.icon-new_imp .path3:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(77, 77, 79);
}
.icon-reconf_imp .path1:before {
  content: "\e936";
  color: rgb(245, 132, 31);
}
.icon-reconf_imp .path2:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(77, 77, 79);
}
.icon-reconf_imp .path3:before {
  content: "\e938";
  margin-left: -1em;
  color: rgb(77, 77, 79);
}
.icon-performance .path1:before {
  content: "\e939";
  color: rgb(77, 77, 79);
}
.icon-performance .path2:before {
  content: "\e93a";
  margin-left: -1em;
  color: rgb(77, 77, 79);
}
.icon-performance .path3:before {
  content: "\e93b";
  margin-left: -1em;
  color: rgb(245, 132, 31);
}
.icon-cost .path1:before {
  content: "\e93c";
  color: rgb(77, 77, 79);
}
.icon-cost .path2:before {
  content: "\e93d";
  margin-left: -1em;
  color: rgb(0, 166, 81);
}
.icon-cost .path3:before {
  content: "\e93e";
  margin-left: -1em;
  color: rgb(0, 166, 81);
}
.icon-refresh:before {
  content: "\e93f";
}
.icon-reports:before {
  content: "\e940";
}
.icon-reset:before {
  content: "\e941";
}
.icon-routing:before {
  content: "\e942";
}
.icon-search:before {
  content: "\e943";
}
.icon-sms:before {
  content: "\e944";
}
.icon-timestamp:before {
  content: "\e945";
}
.icon-user:before {
  content: "\e946";
  color: #4d4d4f;
}
.icon-warning:before {
  content: "\e947";
}
.icon-wizards:before {
  content: "\e948";
}
.icon-IRP_for_cloud .path1:before {
  content: "\e949";
  color: rgb(68, 69, 69);
}
.icon-IRP_for_cloud .path2:before {
  content: "\e94a";
  margin-left: -2.3486328125em;
  color: rgb(68, 69, 69);
}
.icon-IRP_for_cloud .path3:before {
  content: "\e94b";
  margin-left: -2.3486328125em;
  color: rgb(68, 69, 69);
}
.icon-IRP_for_cloud .path4:before {
  content: "\e94c";
  margin-left: -2.3486328125em;
  color: rgb(68, 69, 69);
}
.icon-IRP_for_cloud .path5:before {
  content: "\e94d";
  margin-left: -2.3486328125em;
  color: rgb(68, 69, 69);
}
.icon-IRP_for_cloud .path6:before {
  content: "\e94e";
  margin-left: -2.3486328125em;
  color: rgb(68, 69, 69);
}
.icon-IRP_for_cloud .path7:before {
  content: "\e94f";
  margin-left: -2.3486328125em;
  color: rgb(68, 69, 69);
}
.icon-IRP_for_cloud .path8:before {
  content: "\e950";
  margin-left: -2.3486328125em;
  color: rgb(68, 69, 69);
}
.icon-IRP_for_cloud .path9:before {
  content: "\e951";
  margin-left: -2.3486328125em;
  color: rgb(68, 69, 69);
}
.icon-IRP_for_cloud .path10:before {
  content: "\e952";
  margin-left: -2.3486328125em;
  color: rgb(68, 69, 69);
}
.icon-IRP_for_cloud .path11:before {
  content: "\e953";
  margin-left: -2.3486328125em;
  color: rgb(68, 69, 69);
}
.icon-IRP_for_cloud .path12:before {
  content: "\e954";
  margin-left: -2.3486328125em;
  color: rgb(188, 190, 192);
}
.icon-IRP_for_cloud .path13:before {
  content: "\e955";
  margin-left: -2.3486328125em;
  color: rgb(179, 179, 179);
}
.icon-IRP_for_cloud .path14:before {
  content: "\e956";
  margin-left: -2.3486328125em;
  color: rgb(255, 255, 255);
}
.icon-IRP_for_cloud .path15:before {
  content: "\e957";
  margin-left: -2.3486328125em;
  color: rgb(255, 255, 255);
}
.icon-IRP_for_cloud .path16:before {
  content: "\e958";
  margin-left: -2.3486328125em;
  color: rgb(246, 133, 31);
}
.icon-IRP_for_cloud .path17:before {
  content: "\e959";
  margin-left: -2.3486328125em;
  color: rgb(68, 69, 69);
}
.icon-commit_i:before {
  content: "\e903";
}
.icon-manual:before {
  content: "\e900";
}
.icon-latency:before {
  content: "\e904";
}
.icon-exchange:before {
  content: "\e902";
}
.icon-policy:before {
  content: "\e901";
}
.icon-loss:before {
  content: "\e905";
}
