<template>
  <div class="table-view">
    <table>
      <thead>
      <tr class="odd" v-for="columns in this.mappedColumns">
        <td
        v-for="(column, index) in columns"
        :width="column.width"
        :colspan="(column.columns !== undefined ? column.columns.length : 0)"
        :rowspan="(column.rowSpan !== undefined ? 2 : 0)"
        :class="{'text-center': column.center, 'text-left': column.left, 'text-right': column.right, 'sortable': column.sortable}"
        @click="requestSortBy(column)"
        >
        <i class="icon-sort-amount-asc" v-if="sortable && sortedAsc(column.key)"></i>
        <i class="icon-sort-amount-desc" v-if="sortable && sortedDesc(column.key)"></i>
        <span v-if="column.label && column.label.length">{{column.label}}</span>
        <span v-else>{{ capitalize(column.key) }}</span>
        </td>
      </tr>
      </thead>
      <tbody class="improvements-table-body">
      <tr v-for="(row, index) in rows" :class="{odd: index % 2, even: !(index % 2)}">
        <td
          v-for="column in theadColomnsDispaly"
          :class="{'text-center': column.center, 'text-left': column.left, 'text-right': column.right}"
        >
          <span v-if="column.key === 'index'">
            {{ indexStart + index }}
          </span>
          <i v-else-if="column.type && column.type === 'icon'" :class="[typeIcon(row[column.key])]" v-tooltip="translateStatus(row[column.key])">
          </i>
          <!-- RECT CELL TYPE WITH COLOR BACKGROUND -->
          <span
            v-else-if="column.type && column.type === 'color'"
            class="rect"
            :style="{'background-color': row[column.key]}"
            v-tooltip="row.tooltip || ''"
          ></span>
          <router-link v-else-if="typeof row[column.key] === 'object' && typeof row[column.key].hasOwnProperty('name')" :to="applyFilters(row[column.key], column.filters)">{{row[column.key].value}}</router-link>
          <span v-else>
            {{applyFilters(row[column.key], column.filters)}}
          </span>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>
<script>
  import size from 'pretty-bytes'
  import moment from 'moment'
  import _ from 'lodash'

  export default {
    name: 'TableView',
    props: {
      filters: {
        default: function () {
          return {
            page: 1,
            pageSize: 10
          }
        },
        type: Object
      },
      indexed: {
        default: false,
        type: Boolean
      },
      columns: {
        type: Array,
        default: () => []
      },
      rows: {
        type: Array,
        default: () => []
      },
      // > If table view is sortable at all
      sortable: {
        type: Boolean,
        default: false
      }
    },
    data () {
      return {
        mappedColumns: {},
        theadColomnsDispaly: [],
        translatedStatuses: {
          'unableToRerouteInternalProblem': 'Unable to reroute internal problem',
          'unableToReroute': 'Unable to reroute',
          'suspectaProblem': 'Suspect a problem',
          'problemIsUnconfirmed': 'Problem is unconfirmed',
          'allProblemPrefixesAreRerouted': 'All problem prefixes are rerouted',
          'confirmed': 'Confirmed'
        }
      }
    },
    created () {
      this.mapColumns()
    },
    methods: {
      pritifyDate: function (ts) {
        let dt = new Date(ts)
        let now = new Date()

        if (dt.toDateString() === now.toDateString()) {
          return dt.toLocaleTimeString('en')
        }

        return dt.toLocaleString('en')
      },
      typeIcon (type) {
        let icon = ''
        switch (type) {
          case 'unableToRerouteInternalProblem':
          case 'unableToReroute':
          case 'problemIsUnconfirmed':
          case 'suspectaProblem': icon = 'icon-st_warn'; break
          case 'allProblemPrefixesAreRerouted':
          case 'confirmed': icon = 'icon-st_ok'; break
          case 'Not specified': icon = 'icon-warning'; break
          case 'Commit Improvement': icon = 'icon-commit_i'; break
          case 'Latency Improvement': icon = 'icon-latency'; break
          case 'Loss Improvement': icon = 'icon-loss'; break
          case 'Cost Improvement': icon = 'icon-cost'; break
          case 'Manual Improvement': icon = 'icon-manual'; break
          case 'Routing policy Improvement': icon = 'icon-policy'; break
          case 'Congestion detection': icon = ''; break
          case 'Outage detection': icon = 'icon-outage'; break
          case 'Static route': icon = 'icon-routing'; break
          case 'Reconfirmed improvement': icon = 'icon-routing'; break
          case 'New improvement': icon = 'icon-new_imp'; break
        }
        return icon
      },
      translateStatus (key) {
        return (this.translatedStatuses[key] !== undefined ? this.translatedStatuses[key] : key)
      },
      typeDelimeter (type) {
        if (type === 'Loss Improvement') {
          return '%'
        } else {
          return 'ms'
        }
      },
      oldValue (type, improvement) {
        if (type === 'Loss Improvement') {
          return improvement.lossold
        } else if (type === 'Latency Improvement') {
          return improvement.latencyold
        }

        return '-'
      },
      newValue (type, improvement) {
        if (type === 'Loss Improvement') {
          return improvement.lossnew
        } else if (type === 'Latency Improvement') {
          return improvement.latencynew
        }

        return '-'
      },
      applyFilters: function (value, filters) {
        if (!filters) {
          return value
        }
        let generated = value
        let render = this
        _.each(filters, (name) => { generated = render[name](generated) })
        return generated
      },
      uppercaseFirstChar (value) {
        return value.charAt(0).toUpperCase() + value.slice(1)
      },
      sumvol (string) {
        return size(Number(string) / 1000)
      },
      month (string) {
        return moment(string).format('MMMM')
      },
      capitalize (string) {
        return _.capitalize(string)
      },
      sortedAsc: function (key) {
        if (!key) {
          return false
        }
        return (key && this.filters.sortBy && this.filters.order && this.filters.sortBy === key && this.filters.order === 'ASC')
      },
      sortedDesc: function (key) {
        return (key && this.filters.sortBy && this.filters.order && this.filters.sortBy === key && this.filters.order === 'DESC')
      },
      requestSortBy: function (column) {
        if (!this.sortable) {
          return
        }

        let opt = {sortBy: column.key, order: 'DESC'}
        if (this.filters.sortBy === column.key) {
          opt.order = (this.filters.order === 'ASC') ? 'DESC' : 'ASC'
        }
        this.$emit('filtrate', opt)
      },
      mapColumns () {
        let rowIndex = 0
        let found = false
        let hasChildren = _.find(this.columns, 'columns')
        this.theadColomnsDispaly = []
        this.mappedColumns[rowIndex] = []
        this.mappedColumns[rowIndex + 1] = []
        this.columns.forEach((column, index) => {
          if (column.columns === undefined) {
            column.rowSpan = hasChildren
            this.mappedColumns[rowIndex].push(column)
            this.theadColomnsDispaly.push(column)
          } else {
            this.mappedColumns[rowIndex].push(column)
          }
          if (column.columns !== undefined) {
            found = true
            column.columns.forEach(childColumn => {
              this.theadColomnsDispaly.push(childColumn)
              this.mappedColumns[rowIndex + 1].push(childColumn)
            })
          }
        })
        if (!found) {
          delete this.mappedColumns[rowIndex + 1]
        }
      }
    },
    computed: {
      indexStart: function () {
        return ((this.filters.page * this.filters.pageSize) - this.filters.pageSize) || 1
      }
    },
    watch: {
      columns: function () {
        this.mapColumns()
      }
    },
    components: {
    }
  }
</script>
<style scoped lang="scss">
  @import "../../assets/common";

  $tr_text_size: 0.9em;

  table {
    border-collapse: collapse;
  }

  table thead tr td {
    padding: 1em;
    color: $title_color;
    font-weight: bolder;
    /*user-select: none;*/
  }

  table thead tr td.sortable {
    cursor: pointer;
  }

  table thead tr td,
  table tbody tr td
  {
    padding: 0.6em;
  }

  table tr td {
    padding: 0.4em;
    border: none;
  }

  table tr.odd {
    background: rgb(246, 246, 246);
    font-size: $tr_text_size;
  }

  table tr.even {
    background: rgb(228, 228, 228);
    font-size: $tr_text_size;
  }

  thead tr td {
    color: rgb(121, 121, 121);
    user-select: none;
  }

  .table .icon {
    font-size: 16px;
    display: block;
    margin-top: 10px !important;
  }

  td.type {
    padding: 0 !important;
  }

  .rect {
    width: 1em;
    height: 1em;
    display: block;
  }

  .text-center .rect {
    margin: auto auto;
  }

  .text-center {
    text-align: center;
  }
</style>
