<template>
  <card :title="widget.title"
        :ready="true"
        :hasRefresh="true"
        :header="true"
        slot="content"
        :expandUrl="$router.resolve(fullReport)"
  >
    <widget-controls
      :locked="locked"
      :busy="busy"
      :error="error"
      v-on:edit="$emit('edit', widget)"
      v-on:remove="$emit('remove', widget)"
      v-on:load="load"
      slot="indicators"
    />
    
    <content-placeholders :rounded="true" v-if="busy" slot="content">
      <content-placeholders-heading :img="true" />
      <content-placeholders-text :lines="10" />
    </content-placeholders>
    <div slot="content">
      <table-view
        :columns="columns"
        :indexed="true"
        :rows="buffer"
        :error="error"
        slot="content"
        v-show="!busy && error !== 1"
      >
      </table-view>
    </div>
  </card>
</template>
<script>
  import Card from '../../noction-ui/Card.vue'
  import TableView from '../../views/TableView.vue'
  import WidgetControls from './WidgetControls.vue'
  import HTTP from '../../../api/irp'
  import moment from 'moment'
  import Parser from '../../../parser'
  import _ from 'lodash'
  const NO_ERROR = 0
  const FULL_ERROR = 1
  const PARTIAL_ERROR = 2

  export default {
    name: 'AsPatternProblems',
    props: {
      locked: {
        type: Boolean,
        default: true,
        required: true
      },
      widget: {
        type: Object,
        required: true
      }
    },
    data: function () {
      return {
        endpoint: '/irp/reports/ASPatternProblems',
        busy: true,
        error: 0,
        errorMessages: [],
        buffer: [],
        columns: [
          {key: 'color', label: 'Host', width: '10%', center: true, type: 'color'},
          {key: 'aspattern', label: 'AS-Pattern', width: '10%', center: true},
          {key: 'problem', label: 'Problem', filters: ['uppercaseFirstChar'], width: '10%', center: true},
          {
            label: 'Affected prefixes',
            type: 'group',
            center: true,
            width: '10%',
            columns: [
              {key: 'selectedforprobing', label: 'Selected for Probing', filters: [], width: '10%', center: true},
              {key: 'probed', label: 'Probed', filters: [], width: '10%', center: true},
              {key: 'pendingprobing', label: 'Pending probing', filters: [], width: '10%', center: true},
              {key: 'problemconfirmed', label: 'Problem Confirmed', filters: [], width: '10%', center: true},
              {key: 'problemnotconfirmed', label: 'Problem not confirmed', filters: [], width: '10%', center: true},
              {key: 'confirmationrate', label: 'Confirmation rate', width: '10%', center: true}
            ]
          },
          {
            key: 'affectedPrefixes',
            label: 'Problem',
            type: 'group',
            center: true,
            width: '10%',
            columns: [
              {key: 'problemstatus', label: 'Status', width: '20%', center: true, type: 'icon'}
            ]
          }
        ],
        fullReport: {
          name: 'ReportAsPatternProblems',
          params: {
            view: 'table-report',
            name: 'ASPatternProblems',
            filters: {
              page: 1,
              pageSize: 20,
              sortBy: 'ts',
              order: 'DESC'
            },
            report: 'ASPatternProblems',
            instance: null
          }
        }
      }
    },
    computed: {},
    watch: {
      'widget.settings': function () {
        this.load()
      }
    },
    mounted () {
      this.load()
    },
    methods: {
      load (params = {}) {
        this.busy = true
        let settings = this.widget.settings
        let filters = this.fullReport.params.filters
        filters.start = moment().subtract(settings.TimestampInterval, 'hours').format('YYYY-MM-DD hh:mm:ss')
        filters.end = moment().format('YYYY-MM-DD hh:mm:ss')
        filters.pageSize = settings.PerInstanceOptions
        params = {...params, ...filters}
        new HTTP(settings.Instances).get(this.endpoint, {params})
          .then(this.extract)
          .catch(err => {
            this.error = 1
            this.errorMessages = {message: err.message}
            this.busy = false
          })
      },
      extractSingleReport (report, id) {
        let instance = this.findInstance(id)
        if (!instance) {
          console.warn('Response come up from instance, which is not in settings of this widget')
          console.warn('Response from [{0}] and settings [{1}]'.format(id, this.widget.settings.Instances))
          return []
        }
        let result = Parser.parse(report, this.endpoint)
        let color = instance.color
        let host = instance.host
        _.each(result, (row) => { row.color = color; row.tooltip = host })
        return result
      },
      extract (response) {
        let data = this.filterError(response)
        if (_.isEmpty(data)) {
          this.buffer = []
        } else {
          let buffer = _.flatMap(data, this.extractSingleReport, [])
          this.buffer = buffer
        }
        this.busy = false
      },
      filterError (response) {
        let data = {}
        let errors = {}
        _.each(response.data, function (report, key) {
          if (report && report.error) {
            errors[key] = report.messages
            return
          }
          data[key] = report
        })
        this.errorMessages = errors
        if (!_.keys(data).length) {
          this.error = FULL_ERROR
        } else if (_.keys(data).length && _.difference(this.widget.settings.Instances, _.keys(data)).length) {
          this.error = PARTIAL_ERROR
        } else {
          this.error = NO_ERROR
        }
        return data
      },
      findInstance (id) {
        return this.$store.getters.getInstanceById(id)
      }
    },
    components: {
      Card,
      TableView,
      WidgetControls
    }
  }
</script>
<style scoped>
</style>