<template>
  <card
    :ready="busy"
    :title="widget.title"
    :hasRefresh="widget.refreshable"
    :hideControls="true"
    :expandUrl="$router.resolve(fullReport)"
  >
    <controls
      :locked="locked"
      :busy="busy"
      :error="error"
      v-on:edit="$emit('edit', widget)"
      v-on:remove="$emit('remove', widget)"
      v-on:load="fetch"
      slot="indicators"
    ></controls>

    <content-placeholders :rounded="true" v-if="busy" slot="content">
      <content-placeholders-text :lines="contentPlaceholderLines" />
    </content-placeholders>

    <display
      ref="view"
      :columns="columns"
      :indexed="true"
      :rows="buffer"
      :error="error"
      slot="content"
      v-show="!busy && error !== 1"
    ></display>

    <div class="full-error" slot="content" v-if="error === 1">
      <h3 v-for="(message, id) in errorMessages">
        {{ message }}
      </h3>
    </div>
  </card>
</template>
<script>
  import Card from '../../noction-ui/Card.vue'
  import Display from '../../views/TableView.vue'
  import Controls from './WidgetControls.vue'
  import HTTP from '../../../api/irp'
  import Parser from '../../../parser'
  import _ from 'lodash'

  const NO_ERROR = 0
  const FULL_ERROR = 1
  const PARTIAL_ERROR = 2

  export default {
    name: 'CurrentImprovementsWidget',
    props: {
      locked: {
        type: Boolean,
        default: true
      },
      widget: {
        type: Object,
        required: true
      },
      columns: {
        type: Array,
        default: () => [
          {key: 'index', label: '#', width: '1%', center: true},
          {key: 'color', label: 'Host', width: '1%', center: true, type: 'color'},
          {key: 'ts', label: 'Time', width: '20%', center: false, filters: ['pritifyDate']},
          {key: 'prefix', label: 'Prefix', width: '10%', center: false},
          {key: 'asnumber', label: 'Asn', width: '10px', center: true},
          {key: 'providerfrom', label: 'From', width: '5%', center: true},
          {key: 'providerto', label: 'To', width: '5%', center: true},
          {key: 'type', width: '5%', center: true, type: 'icon'}
        ]
      }
    },
    data () {
      return {
        endpoint: '/irp/reports/currentImprovements',
        busy: false,
        error: NO_ERROR,
        errorMessages: {},
        buffer: [],
        contentPlaceholderLines: 2,
        fullReport: {
          name: 'ReportCurrentImprovements',
          params: {
            'view': 'table-report',
            name: 'current-improvements',
            filters: {
              page: 1,
              pageSize: 20,
              sortBy: 'ts',
              order: 'DESC'
            },
            report: 'currentImprovements',
            instance: null
          }
        }
      }
    },
    mounted () {
      this.fetch()
    },
    created () {
    },
    watch: {
      'widget.settings': function () {
        this.fetch()
      }
    },
    methods: {
      fetch () {
        this.busy = true
        let settings = this.widget.settings
        this.contentPlaceholderLines = (settings.PerInstanceOptions * settings.Instances.length)
        let params = {
          page: 1,
          pageSize: settings.PerInstanceOptions,
          sortBy: 'ts',
          order: 'DESC'
        }

        if (settings.IpAllOptions) {
          params.ipVer = settings.IpAllOptions
        }

        new HTTP(settings.Instances).get(this.endpoint, {params})
          .then(this.extract)
          .catch(err => {
            this.error = 1
            this.errorMessages = {message: err.message}
            this.busy = false
          })
      },
      findInstance (id) {
        return this.$store.getters.getInstanceById(id)
      },
      extractSingleReport (report, id) {
        let instance = this.findInstance(id)
        if (!instance) {
          console.warn('Response come up from instance, which is not in settings of this widget')
          console.warn('Response from [{0}] and settings [{1}]'.format(id, this.widget.settings.Instances))
          return []
        }

        let result = Parser.parse(report, this.endpoint)
        let color = instance.color
        let host = instance.host
        _.each(result, (row) => { row.color = color; row.tooltip = host })
        return result
      },
      extract (response) {
        let data = this.filterError(response)
        if (_.isEmpty(data)) {
          this.buffer = []
        } else {
          let buffer = _.flatMap(data, this.extractSingleReport, [])
          this.buffer = buffer
        }
        this.busy = false
      },
      filterError (response) {
        let data = {}
        let errors = {}

        _.each(response.data, function (report, key) {
          if (report && report.error) {
            errors[key] = report.messages
            return
          }
          data[key] = report
        })

        this.errorMessages = errors

        if (!_.keys(data).length) {
          this.error = FULL_ERROR
        } else if (_.keys(data).length && _.difference(this.widget.settings.Instances, _.keys(data)).length) {
          this.error = PARTIAL_ERROR
        } else {
          this.error = NO_ERROR
        }
        return data
      }
    },
    components: {
      Card,
      Display,
      Controls
    }
  }
</script>
<style scoped>
  .full-error {
    position: relative;
    text-align: center;
  }

  i {
    padding: 0 !important;
  }
</style>
