<template>
    <card :ready="!busy"
          :title="widget.title"
          :hasRefresh="false"
    >
    <widget-controls
            :locked="locked"
            :busy="busy"
            :error="error"
            v-on:edit="$emit('edit', widget)"
            v-on:remove="$emit('remove', widget)"
            v-on:load="load"
            slot="indicators"
    />
    <content-placeholders :rounded="true" v-if="busy" slot="content">
        <content-placeholders-text :lines="instances.length" />
    </content-placeholders>

      <div slot="content" v-if="!busy">
        <table>
          <tr v-for="instance in instances">
              <td>
                  <div class="color-rect" :style="{background: instance.color}"></div>
              </td>
              <td>
                  <div>{{statusTitle(instance)}} <small>{{ instance.username }}</small></div>
              </td>
              <td>
                  <i class="icon-st_ok" v-tooltip="'Active'" v-if="instance.status"></i>
                  <i class="icon-st_warn" v-tooltip="'Not Active'" v-else></i>
              </td>
          </tr>
        </table>
      </div>
    </card>
</template>
<script>
  import Card from '../../noction-ui/Card.vue'
  import WidgetControls from './WidgetControls.vue'
  import _ from 'lodash'

  export default {
    name: 'InstancesStatus',
    props: {
      locked: {
        type: Boolean,
        default: true
      },
      widget: {
        type: Object,
        required: true
      }
    },
    data () {
      return {
        busy: true,
        error: 0
      }
    },
    computed: {
      instances: function () {
        let instances = this.$store.getters.allInstances
        instances = _.compact(_.map(instances, instance => {
          return (this.widget.settings.Instances.indexOf(instance._id) !== -1 ? instance : null)
        }))
        this.busy = false
        return instances
      }
    },
    methods: {
      load () {
        this.busy = true
        this.$store.dispatch('getAllInstances').then(({instances}) => {
          this.busy = false
        })
      },
      statusText: function (st) {
        return st ? 'Instance is up and running' : 'Instance is not responding'
      },
      statusTitle: function (instance) {
        if (instance.status && !instance.error) {
          return instance.host
        }
        return instance.host
      },
      statusIcon: function (i) {
        if (i.error) {
          return 'icon-st_error'
        }
        return i.status ? 'icon-st_ok' : 'icon-st_warn'
      }
    },
    components: {
      Card,
      WidgetControls
    }
  }
</script>
<style scoped lang="scss">
  @import "../../../assets/common";

  .row {
    min-height: 1.2em;
    padding-bottom: 0.2em;
    display: flex;
    width: 100%;
    align-content: center;

    .title {
      color: $grayColor;
    }

    .icon {
      padding-right: 2em;
      display: block;

    }
  }

  table {
      width: 100%;
      padding-left: 1em;
      padding-right: 1em;
      padding-bottom: 2em;
      white-space: nowrap;
      border-collapse: collapse;
  }

  table thead tr td {
      padding: 1em;
  }

  table thead tr td,
  table tbody tr td
  {
      padding: 0.5em;
  }

  table tr td {
      padding: 0.5em;
      border: none;
  }

  table tr.odd {
      background: rgb(246, 246, 246)
  }

  table tr.even {
      background: rgb(228, 228, 228);
  }

  i {
      font-size: 1.4em;
      cursor: pointer;
  }

  i.last {
      float: right;
      margin-left: 1em;
  }

  .icon-ignored_pref {
      color: #EB6361;
  }

  .ui-progress-circular {
      float: right;
  }

  .empty-list {
      min-height: 6em;
      text-align: center;
  }

  .empty-list h3 {
      color: #9E9D9B;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      top: 50%;
  }

  .color-rect {
      display: block;
      width: 1em;
      height: 1em;
  }
</style>
