<template>
  <card
    :ready="busy"
    :title="title"
    :hasRefresh="widget.refreshable"
    :hideControls="true"
    :header="false"
  >
    <widget-controls
      :locked="locked"
      :busy="busy"
      :error="error"
      v-on:edit="$emit('edit', widget)"
      v-on:remove="$emit('remove', widget)"
      v-on:load="load"
      slot="indicators"
    />


      <content-placeholders :rounded="true" v-if="busy" slot="content">
          <content-placeholders-heading :img="true"/>
          <content-placeholders-text :lines="1" />
      </content-placeholders>

      <div class="components-list" slot="content" v-show="!busy">
      <div class="rect" v-for="(component, key) in components" v-bind:key="key">
        <div>
          <i :class="[statusIcon(component.state)]" v-tooltip="componentTooltip(component)" v-if="component.state !== null"></i>
          <i class="icon-loader spin" v-else></i>
        </div>
        <div>
          <span>{{key}}</span>
        </div>
      </div>
    </div>
  </card>
</template>
<script>
import _ from 'lodash'
import Card from '../../noction-ui/Card.vue'
import WidgetControls from './WidgetControls.vue'

const DefaultComponents = {
  'Irpspand': {
    'title': 'Multi threaded application that collects incoming packet flow (sniffing, net flow) and prepares it for further analysis',
    'state': null
  },
  'Core': {
    'title': 'Core analyzing application that realizes decision process and commands BGP to change routes',
    'state': null
  },
  'Explorer': {
    'title': 'Application that probes remote networks and takes performance measurements',
    'state': null
  },
  'BGPd': {
    'title': 'BGP process to inject route changes into external core routers',
    'state': null
  },
  'Irpflowd': {
    'title': 'Multi threaded application that collects incoming NetFlow/sFlow statistics and prepares it for further analysis',
    'state': null
  },
  'Irpapid': {
    'title': 'Application programming interface for platform management',
    'state': null
  },
  'Irppushd': {
    'title': 'Application that performs event notifications',
    'state': null
  }
}

export default {
  name: 'InstancePartsStatusWidget',
  props: {
    locked: {
      type: Boolean,
      default: true
    },
    dashboard: {
      type: Object,
      required: true
    },
    widget: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      components: null,
      busy: true,
      error: 0,
      errorMessages: {},
      buffer: []
    }
  },
  created () {
    this.load()
  },
  methods: {
    statusIcon: function (status) {
      switch (status) {
        case 'Up':
          return 'icon-st_ok'
        case 'Down':
          return 'icon-st_error'
        case 'Disabled':
          return 'icon-warning'
        default:
          return 'icon-st_warn'
      }
    },
    componentTooltip: function (component) {
      return '{}<br>Status: {}'.format(component.title, component.state)
    },
    load: function () {
      this.busy = true
      this.$store.dispatch('components', [this.widget.settings.Instance]).then(() => {
        let components = this.instance.components
        if (!components) {
          components = DefaultComponents
        }
        this.components = _.pick(components, this.widget.settings.ComponentsOptions)
        this.busy = false
      }).catch(err => {
        console.warn(err)
        this.dispatch('notify', {text: 'Was not possible to load {}'.format(this.title)})
      })
    }
  },
  computed: {
    instance: function () {
      return this.$store.getters.getInstanceById(this.widget.settings.Instance)
    },
    title: function () {
      return '{} for {}'.format(this.widget.title, this.instance.host)
    }
  },
  components: {
    Card,
    WidgetControls
  }
}
</script>
<style scoped lang="scss">
  @import "../../../assets/common.scss";

  .components-list {
    padding: 8px;
    margin: 8px;
  }

  .rect {
    border: 2px solid $lightGray;
    min-width: 100px;
    width: auto;
    height: 70px;
    display: inline-block;
    text-align: center;
    padding: 8px;
    margin-right: 1em;
    overflow: hidden;

    div {
      display: block;
      width: 100%;
      height: 24px;

      i {
        font-size: 26px;
        color: $grey_dark;
        margin: auto auto;
        width: 24px;
        display: block;
      }

      span {
        font-weight: bolder;
        font-size: 16px;
        text-align: center;
        display: block;
        margin-top: 5px;
      }
    }
  }
</style>
