<template>
    <card :ready="!busy"
          :title="title"
          :hasRefresh="false"
    >
    <widget-controls
            :locked="locked"
            :busy="busy"
            :error="error"
            v-on:edit="$emit('edit', widget)"
            v-on:remove="$emit('remove', widget)"
            v-on:load="load"
            slot="indicators"
    />
    <content-placeholders :rounded="true" v-if="busy" slot="content">
        <content-placeholders-text :lines="10" />
    </content-placeholders>
      <pie-in-pie :chart-data="chartData" slot="content" v-show="!busy" />
      <div slot="content" v-if="!busy">
          <div class="full-error" v-if="error === 1">
              <h3 v-for="(message, id) in errorMessages">
                  {{ message }}
              </h3>
          </div>
      </div>
    </card>
</template>
<script>
  import Card from '../../noction-ui/Card.vue'
  import WidgetControls from './WidgetControls.vue'
  import HorizontalBar from '../../graphs/HorizontalBar'
  import IrpAPI from '../../../api/irp'
  import Parser from '../../../parser/index'
  import PieInPie from '../../graphs/PieInPie'
  import moment from 'moment'
  export default {
    name: 'LatencyDestinations',
    props: {
      locked: {
        type: Boolean,
        default: true
      },
      widget: {
        type: Object,
        required: true
      }
    },
    data () {
      return {
        instance: this.$store.getters.getInstanceById(this.widget.settings.Instance),
        title: '',
        buffer: null,
        totalLoss: 0,
        totalLatency: 0,
        datasets: [
          {
            labels: [],
            data: [],
            colors: ['#8bbee9', '#ffb5a6']
          },
          {
            labels: [],
            data: [],
            colors: ['#f6b068', '#e1ac2a', '#7b7b7b']
          }],
        endpoint: '/irp/reports/latencyImprovements',
        busy: true,
        error: 0,
        errorMessages: []
      }
    },
    computed: {
      chartData: function () {
        return {
          datasets: this.datasets
        }
      }
    },
    watch: {
      'widget.settings': function () {
        this.load()
      }
    },
    mounted () {
      this.title = `${this.widget.title} for ${this.instance.host}`
      this.load()
    },
    methods: {
      load (params = {}) {
        this.busy = true
        this.error = 0
        params.start = moment().subtract(this.widget.settings.TimestampInterval, 'hours').format('YYYY-MM-DD hh:mm:ss')
        params.end = moment().format('YYYY-MM-DD hh:mm:ss')
        let latencyImprovements = new IrpAPI(this.widget.settings.Instance).get(this.endpoint, {params})
        latencyImprovements.then(response => {
          let data = response.data[this.widget.settings.Instance]
          try {
            if (data.error === true) {
              throw new Error(data.messages.join(', '))
            }
            let parseData = Parser.parse(data, this.endpoint)
            if (parseData) {
              this.buffer = parseData
            }
            if (this.buffer) {
              this.match(this.buffer)
            }
          } catch (err) {
            this.error = 1
            this.errorMessages = {message: err.message}
            this.busy = false
          }
        }).catch(err => {
          this.error = 1
          this.errorMessages = {message: err.message}
          this.busy = false
        })
      },
      match (bufferData) {
        let leftChartData = {
          labels: [],
          label_descriptions: [],
          data: [],
          values: [],
          colors: ['#8bbee9', '#ffb5a6']
        }
        let rightChartData = {
          labels: [],
          label_descriptions: [],
          data: [],
          values: [],
          colors: ['#f6b068', '#dadce1', '#7b7b7b']
        }
        let totalDestinations = 0
        let rightPieTotalOldValue = 0
        let percentage = 0
        let problemDestinations = bufferData[1].totalold
        let totalImproved
        bufferData.forEach(entry => {
          if (entry.label.indexOf('destinations') !== -1) {
            totalDestinations += entry.totalold
          } else {
            rightPieTotalOldValue += entry.totalold
          }
        })
        // add Improvment of Latency from Problem Destinations
        totalImproved = (problemDestinations - rightPieTotalOldValue)
        totalImproved = (totalImproved < 0 ? 0 : totalImproved)
        rightPieTotalOldValue += totalImproved
        rightChartData.labels.push('Improved')
        percentage = (totalImproved > 0 ? (totalImproved / rightPieTotalOldValue) * 100 : 0)
        rightChartData.data.push(percentage)
        rightChartData.values.push(totalImproved)
        rightChartData.label_descriptions.push(`Improved: ${totalImproved} improvments (${percentage.toFixed(1)} %)`)

        bufferData.forEach(entry => {
          if (entry.label.indexOf('destinations') !== -1) {
            percentage = (entry.totalold / totalDestinations) * 100
            leftChartData.labels.push(entry.label)
            leftChartData.label_descriptions.push(`${entry.label}: ${entry.totalold} improvments (${percentage.toFixed(1)} %)`)
            leftChartData.data.push(percentage)
            leftChartData.values.push(entry.totalold)
          } else {
            percentage = (entry.totalold / rightPieTotalOldValue) * 100
            rightChartData.labels.push(entry.label)
            rightChartData.data.push(percentage)
            rightChartData.label_descriptions.push(`${entry.label}: ${entry.totalold} improvments (${percentage.toFixed(1)} %)`)
            rightChartData.values.push(entry.totalold)
          }
        })
        this.datasets = [leftChartData, rightChartData]
        this.busy = false
      }
    },
    components: {
      Card,
      PieInPie,
      HorizontalBar,
      WidgetControls
    }
  }
</script>
<style scoped lang="scss">
    .provider-performance {
        text-align: center;
        width: 100%;
    }
    .full-error {
        text-align: center;
    }
</style>
