<template>
    <card :ready="!busy"
          :title="title"
          :hasRefresh="false"
    >
    <widget-controls
            :locked="locked"
            :busy="busy"
            :error="error"
            v-on:edit="$emit('edit', widget)"
            v-on:remove="$emit('remove', widget)"
            v-on:load="load"
            slot="indicators"
    />
    <content-placeholders :rounded="true" v-if="busy" slot="content">
        <content-placeholders-text :lines="10" />
    </content-placeholders>

      <div slot="content" v-if="!busy">
          <bar :legend="legend" :chart-data="chartData"/>
          <div class="full-error" v-if="error === 1">
              <h3 v-for="(message, id) in errorMessages">
                  {{ message }}
              </h3>
          </div>
      </div>
    </card>
</template>
<script>
  import Card from '../../noction-ui/Card.vue'
  import WidgetControls from './WidgetControls.vue'
  import Bar from '../../graphs/Bar'
  import IrpAPI from '../../../api/irp'
  import Parser from '../../../parser/index'
  import _ from 'lodash'

  export default {
    name: 'LatencyImprovements',
    props: {
      locked: {
        type: Boolean,
        default: true
      },
      widget: {
        type: Object,
        required: true
      }
    },
    data () {
      return {
        instance: this.$store.getters.getInstanceById(this.widget.settings.Instance),
        title: '',
        buffer: null,
        defaultLabels: ['AMS-IX', 'NLIX', 'Cogent', 'Serverius'],
        totalImprovments: 0,
        totalRemainingLatency: 0,
        defaultDatasets: [{
          label: 'Latency remaining',
          backgroundColor: '#E1E1E1',
          borderColor: '#E1E1E1',
          borderWidth: 1,
          data: []
        },
        {
          label: 'Improvments',
          backgroundColor: '#f6b068',
          borderColor: '#f6b068',
          data: []
        }],
        labels: [],
        datasets: [],
        legend: {
          display: true,
          position: 'bottom'
        },
        endpoint: '/irp/reports/latencyImprovements',
        busy: true,
        error: 0,
        errorMessages: []
      }
    },
    computed: {
      chartData: function () {
        return {
          labels: this.labels,
          datasets: this.datasets
        }
      }
    },
    mounted () {
      this.title = `${this.widget.title} for ${this.instance.host}`
      this.load()
    },
    methods: {
      load () {
        this.busy = true
        this.error = 0
        let latencyImprovements = new IrpAPI(this.widget.settings.Instance).get(this.endpoint)
        latencyImprovements.then(response => {
          let data = response.data[this.widget.settings.Instance]
          try {
            if (data.error === true) {
              throw new Error(data.messages.join(', '))
            }
            let parseData = Parser.parse(data, this.endpoint)
            if (parseData) {
              this.buffer = parseData
            }
            if (this.buffer) {
              this.match(this.buffer)
            }
          } catch (err) {
            this.error = 1
            this.errorMessages = {message: err.message}
            this.busy = false
          }
        }).catch(err => {
          this.error = 1
          this.errorMessages = {message: err.message}
          this.busy = false
        })
      },
      match (bufferData) {
        let dataset = _.cloneDeep(this.defaultDatasets)
        let labels = []
        let totalImproved = 0
        let totalRemain = 0
        this.totalImprovments = this.totalRemainingLatency = 0
        _.each(bufferData, entry => {
          labels.push(entry.label)
          // setup Loss data
          totalImproved += entry.new
          totalRemain += entry.old
          let latencyRemain = (entry.new / entry.old) * 100
          let latencyImproved = 100 - latencyRemain
          dataset[0].data.push(latencyRemain.toFixed(2))
          // Latency data
          dataset[1].data.push(latencyImproved.toFixed(2))
        })
        this.totalRemainingLatency = ((totalImproved / totalRemain) * 100).toFixed(2)
        this.totalImprovments = (100 - this.totalRemainingLatency).toFixed(2)
        this.busy = false
        this.datasets = dataset
        this.labels = (labels || this.defaultLabels)
      }
    },
    components: {
      Card,
      Bar,
      WidgetControls
    }
  }
</script>
<style scoped lang="scss">
    .provider-performance {
        text-align: center;
        width: 100%;
    }
    .full-error {
        text-align: center;
    }
</style>
