<template>
  <card :title="title"
        :value="platform.totalimprovements"
        :ready="true"
        :hasRefresh="true"
        slot="content"
        :header="false"
        controlsAlign="left"
  >
      <widget-controls
              :locked="locked"
              :busy="busy"
              :error="error"
              v-on:edit="$emit('edit', widget)"
              v-on:remove="$emit('remove', widget)"
              v-on:load="load"
              slot="indicators"
      />

      <content-placeholders :rounded="true" v-if="busy" slot="content">
          <content-placeholders-heading :img="true" />
          <content-placeholders-text :lines="filters.pageSize" />
      </content-placeholders>

      <div class="platform-performance-content" slot="content"
            v-show="ready"
      >
          <div class="row"
          >
              <div class="column">
                  <div class="col-lg-12 col-md-12 text-left group-title">
                      <span class="total_loss dark">{{platform.lossimprovements}}</span> Loss improvements:
                  </div>
                  <pie-gadget label="by 20% or more" :value="Math.round(platform.lossimprovementsby20percentormore * 100)"></pie-gadget>
                  <pie-gadget label="eliminated loss" :value="Math.round(platform.lossimprovementseliminatedloss * 100)"></pie-gadget>
                  <pie-gadget label="avoided 100% loss" :value="Math.round(platform.lossimprovementsbypassedblackout * 100)"></pie-gadget>
              </div>
              <div class="column">
                  <div class="text-left group-title">
                      <span class="total_latency">{{platform.latencyimprovements}}</span> Latency
                      improvements:
                  </div>
                  <pie-gadget label="by 20% or more" :value="platform.latencyimprovementsby20percentormore * 100"
                              color="#667AB9"></pie-gadget>
                  <pie-gadget label="by 50% or more" :value="Math.round(platform.latencyimprovementsby50percentormore * 100)"
                              color="#667AB9"></pie-gadget>
              </div>
          </div>
          <div class="row">
              <div class="text-left group-title">
                  <span class="total_loss dark">{{platform.outagedetectionimprovementsbypassedcongestion + platform.outagedetectionimprovementsbypassedoutage}}</span> Congestion and outages detected:
              </div>
          </div>
          <div class="row"
          >
              <div class="column">
                  <div class="platform-rect">
                      <div class="rectangle-platform">
                          {{platform.outagedetectionimprovementsbypassedcongestion}}
                      </div>
                      <span class="rectangle-label">bypassed congestion</span>
                  </div>
                  <div class="platform-rect">
                      <div class="rectangle-platform">
                          {{platform.outagedetectionimprovementsbypassedoutage}}
                      </div>
                      <span class="rectangle-label">bypassed outage</span>
                  </div>
              </div>
              <div class="column">
                  <div class="platform-rect">
                      <div class="rectangle-platform">
                          {{platform.reducedcost}}
                      </div>
                      <span class="rectangle-label">reduced cost</span>
                  </div>
                  <div class="platform-rect">
                      <div class="rectangle-platform">
                          {{platform.adjustedcommitlevels}}
                      </div>
                      <span class="rectangle-label">adjusted commit levels</span>
                  </div>
              </div>
          </div>
      </div>

      <div class="full-error" slot="content" v-if="error === 1">
          <h3 v-for="(message, id) in errorMessages">
              {{ message }}
          </h3>
      </div>
  </card>
</template>
<script>
  import Card from '../../noction-ui/Card.vue'
  import WidgetControls from './WidgetControls.vue'
  import Parser from '../../../parser'
  import HTTP from '../../../api/irp'
  import PieGadget from './../../graphs/PieGadget.vue'
  import _ from 'lodash'

  const NO_ERROR = 0
  const FULL_ERROR = 1
  const PARTIAL_ERROR = 2
  export default {
    name: 'PlatformPerformanceWidget',
    props: {
      locked: {
        type: Boolean,
        default: true
      },
      widget: {
        type: Object,
        required: true
      }
    },
    data: function () {
      return {
        ready: false,
        busy: true,
        error: NO_ERROR,
        endpoint: '/irp/reports/platformOverview',
        errorMessages: {},
        buffer: {},
        default: {
          totalimprovements: 0,
          lossimprovements: 0,
          lossimprovementsby20percentormore: 0,
          lossimprovementseliminatedloss: 0,
          lossimprovementsbypassedblackout: 0,
          latencyimprovementsby20percentormore: 0,
          latencyimprovementsby50percentormore: 0,
          outagedetectionimprovementsbypassedoutage: 0,
          outagedetectionimprovementsbypassedcongestion: 0,
          reducedcost: 0,
          adjustedcommitlevels: 0
        },
        platform: {},
        filters: {
          ipVer: 4
        }
      }
    },
    created: function () { this.load() },
    mounted () {},
    watch: {
      'widget.settings': function () {
        this.load()
      }
    },
    methods: {
      findInstance (id) {
        return this.$store.getters.getInstanceById(id)
      },
      load () {
        let settings = this.widget.settings
        let instance = this.findInstance(settings.Instance)
        this.platform = this.default
        this.title = 'total improved prefixes for ' + instance.host
        this.ready = false
        this.busy = true
        this.error = 0
        this.filters.ipVer = settings.IpOptions
        new HTTP([settings.Instance]).get(this.endpoint, {params: this.filters})
            .then(response => {
              let data = this.filterError(response)
              if (_.isEmpty(data)) {
                this.buffer = this.default
              } else {
                this.buffer = this.platform = _.head(Parser.parse(data[settings.Instance], this.endpoint))
                this.ready = true
              }
              this.busy = false
            })
            .catch(err => {
              this.ready = false
              this.errorMessages = {message: err.message, id: settings.Instance}
            })
      },
      filterError (response) {
        let data = {}
        let errors = {}

        _.each(response.data, function (report, key) {
          if (report && report.error) {
            errors[key] = _.reduce(report.messages, (result, value) => { return result + value })
            return
          }
          data[key] = report
        })

        this.errorMessages = errors

        if (!_.keys(data).length) {
          this.error = FULL_ERROR
        } else if (_.keys(data).length && _.difference(this.widget.settings.instances, _.keys(data)).length) {
          this.error = PARTIAL_ERROR
        } else {
          this.error = NO_ERROR
        }
        return data
      }
    },
    components: {
      PieGadget,
      Card,
      WidgetControls
    }
  }
</script>
<style scoped lang="scss">
  @import "../../../assets/common";
  .platform-performance-content {
      position: relative;
      margin: 0 auto;
      width: 80%;
  }
  .platform-performance-content .row {
      clear: both;
  }
  .platform-performance-content .row .column {
      float: left;
  }
  .column {
      margin: 0 0 45px auto;
      width: 50%;
      overflow: hidden;
  }

  .column > h4 {
    color: $title_color;
    margin-top: 0;
    margin-bottom: 25px;
    text-transform: uppercase;
  }

  .group-title {
    color: $title_color;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 25px;
  }

  .group-title span {
    color: $grey_dark;
    font-size: 18px;
  }

  .platform-rect {
      color: $grey_light;
      padding: 0 0 10px 0;
  }

  .rectangle-platform {
    display: inline-block;
    width: 60px;
    height: 30px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    background-color: $grey_light;
  }

  .rectangle-label {
    margin-left: 20px;
    display: inline-block;
    font-weight: 500;
  }

  .rectangles {
    margin-left: 45px;
  }
</style>
