<template>
    <card
            :title="title"
            :value="null"
            :ready="true"
            :hasRefresh="true"
            slot="content"
            :header="false"
            controlsAlign="left"
    >
        <widget-controls
                :locked="locked"
                :busy="busy"
                :error="error"
                v-on:edit="$emit('edit', widget)"
                v-on:remove="$emit('remove', widget)"
                v-on:load="load"
                slot="indicators"
        />
        <content-placeholders :rounded="true" v-if="busy" slot="content">
            <content-placeholders-heading :img="true"/>
            <content-placeholders-text :lines="10"/>
        </content-placeholders>
        <div slot="content" v-show="error === 0">
            <boundaries :legend="{display: false}" @cursorStrockLineMove="updateCurrentTooltipData" :chart-data="chartData" v-show="!busy"/>
            <table class="chart-legend">
                <tbody>
                <tr v-for="entry in legendDatasest">
                    <td><span class="legend-color" :style="{'background': entry.borderColor}"></span></td>
                    <td class="label">{{entry.label}}</td>
                    <td><span class="label">Avg</span><span class="avg-amount">{{average(entry.data)}}</span></td>
                    <td><span class="label">Max</span><span class="max-amount">{{maximum(entry.data)}}</span></td>
                    <td><span class="label">Min</span><span class="min-amount">{{minimum(entry.data)}}</span></td>
                    <td><span class="label">Curr</span><span class="curr-amount">{{entry.currentValue}}</span></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div slot="content" v-if="!busy">
            <div class="full-error" v-if="error === 1">
                <h3 v-for="(message, id) in errorMessages">
                    {{ message }}
                </h3>
            </div>
        </div>
    </card>
</template>
<script>
  import Boundaries from '../../graphs/Boundaries'
  import Card from '../../noction-ui/Card.vue'
  import WidgetControls from './WidgetControls.vue'
  import Parser from '../../../parser'
  import HTTP from '../../../api/irp'
  import Moment from 'moment'
  import {extendMoment} from 'moment-range'
  import _ from 'lodash'
  const moment = extendMoment(Moment)

  export default {
    name: 'ProbedPrefixesImprovments',
    props: {
      locked: {
        type: Boolean,
        default: true
      },
      widget: {
        type: Object,
        required: true
      }
    },
    data: function () {
      return {
        title: this.widget.title,
        endpoint: '/irp/reports/probedPrefixesAndImprovements',
        buffer: null,
        busy: true,
        error: 0,
        errorMessages: [],
        labels: [],
        datasets: [],
        legendDatasest: [],
        filters: {
          start: null,
          end: null,
          ipVer: 4
        }
      }
    },
    computed: {
      chartData: function () {
        return {
          legend: {
            display: true,
            position: 'bottom'
          },
          labels: this.labels,
          datasets: this.datasets
        }
      }
    },
    watch: {
      'widget.settings': function () {
        this.load()
      }
    },
    mounted () {
      this.load()
    },
    methods: {
      load () {
        let settings = this.widget.settings
        this.filters.start = moment().subtract(settings.TimestampInterval, 'hours').format('YYYY-MM-DD HH:mm:ss')
        this.filters.end = moment().format('YYYY-MM-DD HH:mm:ss')
        this.filters.ipVer = settings.IpOptions
        new HTTP(settings.Instance).get(this.endpoint, {params: this.filters}).then(response => {
          try {
            let responseData = response.data[settings.Instance]
            if (responseData.error) {
              throw new Error(_.head(responseData.messages))
            }
            let parsedData = Parser.parse(responseData, this.endpoint)
            if (parsedData) {
              this.buffer = parsedData
              this.prepareChartData(this.buffer)
            }
          } catch (err) {
            this.error = 1
            this.errorMessages = {message: err.message}
            this.busy = false
          }
        }).catch(err => {
          this.error = 1
          this.errorMessages = {message: err.message}
          this.busy = false
        })
      },
      prepareChartData (buffer) {
        let probedPref = {
          label: 'Probed Pref. (cnt)',
          data: [],
          backgroundColor: 'rgba(246,176,104, 0.8)',
          borderColor: 'rgba(246,176,104, 0.8)',
          fill: true
        }
        let improvedPref = {
          label: 'Improved Pref. (cnt)',
          data: [],
          borderColor: 'red',
          fill: -1
        }
        let loss = {
          label: 'Loss (cnt)',
          data: [],
          borderColor: 'green',
          fill: -1
        }
        let latency = {
          label: 'Latency (cnt)',
          data: [],
          borderColor: 'gray',
          fill: -1
        }
        let commit = {
          label: 'Commit (cnt)',
          data: [],
          borderColor: 'black',
          fill: -1
        }
        let other = {
          label: 'Other (cnt)',
          data: [],
          borderColor: '#a97944',
          fill: -1
        }
        buffer.forEach((entry, index) => {
          if (!index) {
            probedPref.currentValue = entry.probedprefixes
            improvedPref.currentValue = entry.losscnt + entry.latencycnt
            loss.currentValue = entry.losscnt
            latency.currentValue = entry.latencycnt
            commit.currentValue = entry.commitcontrolcnt
            other.currentValue = entry.othercnt
          }
          probedPref.data.push(entry.probedprefixes)
          improvedPref.data.push(entry.losscnt + entry.latencycnt)
          loss.data.push(entry.losscnt)
          latency.data.push(entry.latencycnt)
          commit.data.push(entry.commitcontrolcnt)
          other.data.push(entry.othercnt)
        })
        let startDateTime = moment(this.filters.start)
        let endDateTime = moment(this.filters.end)
        let start = startDateTime.format('YYYY-MM-DD HH:00:ss')
        let end = endDateTime.format('YYYY-MM-DD HH:00:ss')
        let hours = endDateTime.diff(startDateTime, 'hours')
        const range = moment.range(start, end)
        const acc = Array.from(range.by('hours', { step: hours / 12 }))
        this.labels = acc.map(m => m.format('D MMM H:mm'))
        this.datasets = [other, commit, latency, loss, improvedPref, probedPref]
        this.legendDatasest = _.reverse(_.cloneDeep(this.datasets))
        this.busy = false
      },
      average: function (list) {
        let sum = _.reduce(list, function (memo, num) {
          let val = num > 0 ? num : 0
          return memo + val
        }, 0)
        let count = _.size(list)
        return count ? Math.round(sum / count) : 0
      },
      maximum: function (list) {
        let max = _.max(list)
        return Math.round(max)
      },

      minimum: function (list) {
        list = _.compact(list)
        if (list.length) {
          let min = _.min(list)
          return Math.round(min)
        }
        return 0
      },
      first: function (list) {
        return _.head(list)
      },
      updateCurrentTooltipData (datasets) {
        _.each(this.legendDatasest, (entry, index) => {
          entry.currentValue = datasets[index].currentValue
          this.$set(this.legendDatasest, index, {...entry})
        })
      }
    },
    components: {
      Boundaries,
      Card,
      WidgetControls
    }
  }
</script>
<style scoped>
    .full-error {
        text-align: center;
    }
    .chart-legend .legend-color {
        width: 20px;
        height: 10px;
        display: block;
    }
    .chart-legend td .label {
        padding-right: 10px;
    }
    .chart-legend td {
        padding: 0 10px 0 0;
    }

</style>