<template>
    <card :ready="!busy"
          :title="title"
          :hasRefresh="false"
    >
        <widget-controls
                :locked="locked"
                :busy="busy"
                :error="error"
                v-on:edit="$emit('edit', widget)"
                v-on:remove="$emit('remove', widget)"
                v-on:load="load"
                slot="indicators"
        />
        <content-placeholders :rounded="true" v-if="busy" slot="content">
            <content-placeholders-text :lines="10" />
        </content-placeholders>

        <div slot="content" v-if="!busy">
            <horizontal-bar :legend="legend" :chart-data="chartData"/>
            <div class="provider-performance">
                <span class="col">Average loss: <strong class="amount">{{totalLoss}}</strong></span>
                <span class="col">Average latency: <strong class="amount">{{totalLatency}}</strong></span>
            </div>
            <div class="full-error" v-if="error === 1">
                <h3 v-for="(message, id) in errorMessages">
                    {{ message }}
                </h3>
            </div>
        </div>
    </card>
</template>
<script>
  import Card from '../../noction-ui/Card.vue'
  import WidgetControls from './WidgetControls.vue'
  import HorizontalBar from '../../graphs/HorizontalBar'
  import IrpAPI from '../../../api/irp'
  import Parser from '../../../parser/index'
  import _ from 'lodash'

  export default {
    name: 'ProvidersPerformance',
    props: {
      locked: {
        type: Boolean,
        default: true
      },
      widget: {
        type: Object,
        required: true
      }
    },
    data () {
      return {
        instance: this.$store.getters.getInstanceById(this.widget.settings.Instance),
        title: '',
        buffer: null,
        defaultLabels: ['AMS-IX', 'NLIX', 'Cogent', 'Serverius'],
        totalLoss: 0,
        totalLatency: 0,
        defaultDatasets: [{
          label: 'Packet Loss (%)',
          backgroundColor: '#f6b068',
          borderColor: '#f6b068',
          data: []
        }, {
          label: 'Average Latency (ms)',
          backgroundColor: '#E1E1E1',
          borderColor: '#E1E1E1',
          borderWidth: 1,
          data: []
        }],
        labels: [],
        datasets: [],
        legend: {
          display: true,
          position: 'bottom'
        },
        endpoint: '/irp/reports/providersPerformance',
        busy: true,
        error: 0,
        errorMessages: []
      }
    },
    computed: {
      chartData: function () {
        return {
          labels: this.labels,
          datasets: this.datasets
        }
      }
    },
    mounted () {
      this.title = `${this.widget.title} for ${this.instance.host}`
      this.load()
    },
    methods: {
      load () {
        this.busy = true
        this.error = 0
        let providersPerformance = new IrpAPI(this.widget.settings.Instance).get(this.endpoint)
        providersPerformance.then(response => {
          let data = response.data[this.widget.settings.Instance]
          try {
            if (data.error === true) {
              throw new Error(data.messages.join(', '))
            }
            let parseData = Parser.parse(data, this.endpoint)
            if (parseData) {
              this.buffer = parseData
              this.match(this.buffer)
            }
          } catch (err) {
            this.error = 1
            this.errorMessages = {message: err.message}
            this.busy = false
          }
        }).catch(err => {
          this.error = 1
          this.errorMessages = {message: err.message}
          this.busy = false
        })
      },
      match (bufferData) {
        let dataset = _.cloneDeep(this.defaultDatasets)
        let labels = []
        this.totalLoss = this.totalLatency = 0
        _.each(_.reverse(bufferData), entry => {
          labels.push(entry.provider)
          // setup Loss data
          this.totalLoss += entry.loss
          this.totalLatency += entry.latency
          dataset[0].data.push((entry.loss === null ? 0 : -(entry.loss.toFixed(2))))
          // Latency data
          dataset[1].data.push((entry.latency === null ? 0 : entry.latency.toFixed(2)))
        })
        this.totalLoss = this.totalLoss.toFixed(2)
        this.totalLatency = this.totalLatency.toFixed(2)
        this.busy = false
        this.datasets = dataset
        this.labels = (labels || this.defaultLabels)
      }
    },
    components: {
      Card,
      HorizontalBar,
      WidgetControls
    }
  }
</script>
<style scoped lang="scss">
    .provider-performance {
        text-align: center;
        width: 100%;
    }
    .full-error {
        text-align: center;
    }
</style>