<template>
    <card
            :ready="!busy"
            :title="title"
            :hasRefresh="false"
    >
        <widget-controls
                :locked="locked"
                :busy="busy"
                :error="error"
                v-on:edit="$emit('edit', widget)"
                v-on:remove="$emit('remove', widget)"
                v-on:load="load"
                slot="indicators"
        />
        <content-placeholders :rounded="true" v-if="busy" slot="content">
            <content-placeholders-text :lines="10" />
        </content-placeholders>
        <div slot="content">
            <bubblechart :chart-data="chartData" />
            <div class="full-error" v-if="error === 1">
                <h3 v-for="(message, id) in errorMessages">
                    {{ message }}
                </h3>
            </div>
        </div>
    </card>
</template>
<script>
  import Card from '../../noction-ui/Card.vue'
  import WidgetControls from './WidgetControls.vue'
  import Bubblechart from '../../graphs/Bubblechart.vue'
  import IrpAPI from '../../../api/irp'
  import Parser from '../../../parser/index'
  // import _ from 'lodash'

  export default {
    name: 'ProviderPerformanceHistory',
    props: {
      locked: {
        type: Boolean,
        default: true,
        required: true
      },
      widget: {
        type: Object,
        required: true
      }
    },
    data: function () {
      return {
        endpoint: '/irp/reports/providerPerformanceHistory',
        busy: true,
        error: 0,
        instance: this.$store.getters.getInstanceById(this.widget.settings.Instance),
        title: '',
        labels: [],
        colors: ['#058DC7', '#50B432', '#D3831B', '#E05665', '#DB96A6', '#CDA279', '#7E4357', '#ADD7F6', '#2667FF', '#3B28CC',
          '#1B3343', '#61F49C', '#165D3C', '#00A372', '#2B1E95', '#BAFA61', '#35E895', '#E86800', '#A94C00', '#552600',
          '#1F9988', '#11554C', '#0B332E', '#DD58A8', '#8D396B', '#51203E', '#5E5A33'
        ],
        datasets: [],
        errorMessages: []
      }
    },
    computed: {
      chartData: function () {
        return {
          labels: this.labels,
          datasets: this.datasets
        }
      }
    },
    watch: {
      'widget.settings': function () {
        this.load()
      }
    },
    mounted () {
      this.title = `${this.widget.title} for ${this.instance.host}`
      this.load()
    },
    methods: {
      load () {
        this.busy = true
        this.error = 0
        let providerPerformance = new IrpAPI(this.widget.settings.Instance).get(this.endpoint)
        providerPerformance.then(response => {
          let data = response.data[this.widget.settings.Instance]
          try {
            if (data.error === true) {
              throw new Error(data.messages.join(', '))
            }
            let parseData = Parser.parse(data, this.endpoint)
            if (parseData) {
              this.buffer = parseData
              this.matchData(this.buffer)
            }
          } catch (err) {
            this.error = 1
            this.errorMessages = {message: err.message}
            this.busy = false
          }
        }).catch(err => {
          this.error = 1
          this.errorMessages = {message: err.message}
          this.busy = false
        })
      },
      matchData (buffer) {
        console.log(buffer)
      }
    },
    components: {
      Card,
      Bubblechart,
      WidgetControls
    }
  }
</script>
<style scoped>
</style>