<template>
  <div class="controls">
    <i
      class="icon-cfg"
      v-if="!locked"
      @click="$emit('edit')"
      v-tooltip="'Configure this widget'"
    ></i>

    <i
      class="icon-logout"
      v-on:click="$emit('remove')"
      v-if="!locked"
      v-tooltip="'Remove widget from dashboard'"
    ></i>

    <i
      :class="{'icon-st_error': error, 'icon-st_ok': !error, 'icon-st_warn': false}"
      v-if="error === 2"
      v-tooltip="'Errors happen, while loading widget data. Click on icon, to get more info'"
    ></i>

    <i
      :class="{'icon-reset': true, 'busy': busy}"
      v-on:click="$emit('load')"
    ></i>
  </div>
</template>
<script>
export default {
  name: 'WidgetControlsView',
  props: {
    locked: {
      type: Boolean,
      default: true
    },
    error: {
      type: Number,
      default: false
    },
    busy: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
    }
  }
}
</script>
<style scoped>
  .controls {
    position: absolute;
    right: 8px;
  }

  i {
    padding: 0 !important;
    font-size: 1.3em;
    margin-right: 0.2em;
    cursor: pointer;
  }
</style>
